@media (min-width: 1279px) {

#mainheader .preheader .governo {
        padding-left: 85px !important;
    }
}



/* //////////////// MAIN BAR /////////////////////////// */

#mainheader .logo-img img {
    height: 80px;
    max-height: 80px;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
	margin-top:10px;
}

#mainheader .logo-text .h1, #mainheader .logo-text h1 {
    padding-top: 10px;
    margin: 0;
    font-size: 1.6em;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

#mainheader .logo-text .h1, #mainheader .logo-text span {
    margin-top: 10px;
    font-size: 1em;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}




#mainheader.ridotto .logo-img img {
    height: 55px;
    margin-top: 0px /*-6px;*/
}

#mainheader.ridotto .logo-text {
    vertical-align:top;
}

#mainheader.ridotto .logo-text .h1, #mainheader.ridotto .logo-text h1 {
	padding-top:10px;
    margin-top: 0px !important;/*20px;*/
    font-size: .7777em;
    line-height: 1.2em;
}

#mainheader.ridotto .logo-text .h1, #mainheader.ridotto .logo-text span {
    font-size: .7em;
}

/* /////////////////FOOTER ///////////////// */
footer .logo-img span {
	font-size:19px;
	padding-left:3px;
	}



/*login*/
.form-signin{max-width:330px;margin:0 auto;padding:15px;}
.form-signin .form-signin-heading,.form-signin .checkbox{margin-bottom:10px;}
.form-signin .checkbox{font-weight:normal;}
.form-signin .form-control{position:relative;font-size:16px;height:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px;}
.form-signin .form-control:focus{z-index:2;}
.form-signin input[type="text"]{margin-bottom:-1px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.form-signin input[type="password"]{margin-bottom:10px;border-top-left-radius:0;border-top-right-radius:0;}
.account-wall{
    /*margin-top:20px;*/
    background-color:#f7f7f7;
    -moz-box-shadow:0 2px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.3);
    box-shadow:0 2px 2px rgba(0,0,0,0.3);
    padding:20px 0 20px;
    padding-top:0px;
}

.form-signin .dropdown {
    float:right;margin-top:23px;font-size:14px;
}
.form-signin .dropdown ul li{
    font-size: 14px;
}
/*invio file*/
.form-inviofile{margin:0 auto;padding:15px;}
.form-inviofile .form-control{position:relative;font-size:16px;height:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px;}
.form-inviofile .form-control:focus{z-index:2;}
.form-inviofile input[type="text"]{margin-bottom:-1px;border-bottom-left-radius:0;border-bottom-right-radius:0;}
.form-inviofile input[type="password"]{margin-bottom:10px;border-top-left-radius:0;border-top-right-radius:0;}
.form-inviofile input[type="file"] {font-size:14px}
    .form-inviofile select {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
.form-inviofile textarea{min-width:75% !important}
.form-inviofile .form-group{margin:5px 0}

/*avvisi*/
.form-avvisi {
    margin: 0 auto;
    padding: 15px;
}
    .form-avvisi.form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
    }
        .form-avvisi .form-control:focus {
            z-index: 2;
        }
    .form-avvisi input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-avvisi input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
.form-avvisi input[type="file"] {
    font-size: 14px
}
    .form-avvisi select {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-avvisi textarea {
        min-width: 75% !important
    }
    .form-avvisi .form-group {
        margin: 5px 0
    }

    .form-avvisi p{
     font-size:15px
    }


/*registrazione*/
.form-registrazione {
    margin: 0 auto;
    padding: 30px;
}
    .form-registrazione .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
    }
        .form-registrazione .form-control:focus {
            z-index: 2;
        }
    .form-registrazione input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-registrazione input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-registrazione input[type="file"] {
        font-size: 14px
    }
    .form-registrazione select {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-registrazione textarea {
        min-width: 75% !important
    }
    .form-registrazione .form-group {
        margin: 5px 0
    }

.form-registrazione h5{
 font-size:1.1em;
 font-weight:bold;
 text-decoration:underline;
}




.caricamento {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding:15px 0;
    margin: 16px 0;
}


.profile-img{width:96px;height:96px;display:block;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;margin:0 auto 10px;}
.need-help{margin-top:10px;}
.new-account{display:block;margin-top:10px;}

 section.fascia-grey-login{padding-top:20px;padding-bottom:32px;background-color:#eee}



 footer section.contatti .address {
    padding: 25px 0px 8px 0px;
    font-size: .88889em;
    line-height: 1.4em;
    color: #a5abb0;
}

 .address>h5{
 font-size: 1.05em;
 margin-bottom: 10px;
}


.sidebar-offcanvas .nav-stacked>li+li {
    margin-top: 0;
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
    border-bottom: 1px solid #ddd;

}



.btn-round.btn-sm {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 4px 8px;
    line-height: 0.6;
    font-size: 12px;
    margin:3px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 1px 2px;
    line-height: 0.6;
    font-size: 13px;
    margin: 3px;
}

.btn-blu {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

    .btn-blu:hover {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

    .table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-right: 1px solid #ddd !important;
    border-left: 0px !important;
    border-top: 0px !important;
}


.avvisi {
    padding-top: 20px;
    border: 1px solid transparent;
    z-index:100;
    position: absolute;
}

.alert-success {
    border-radius: 0px;
    color: #3c763d;
    background-color: #dff0d8;
    border: 5px solid #3c763d;
    box-shadow: 0px 5px 21px 1px #6c6c6c;
    -webkit-box-shadow: 0px 5px 21px 1px #6c6c6c;
    -moz-box-shadow: 0px 5px 21px 1px #6c6c6c;
    -o-box-shadow: 0px 5px 21px 1px #6c6c6c;
    ;
}

.alert-info {
    border-radius: 0px;
    color: #31708f;
    background-color: #d9edf7;
    border: 5px solid #31708f;
    box-shadow: 0px 5px 21px 1px #6c6c6c;
    -webkit-box-shadow: 0px 5px 21px 1px #6c6c6c;
    -moz-box-shadow: 0px 5px 21px 1px #6c6c6c;
    -o-box-shadow: 0px 5px 21px 1px #6c6c6c;
}

.alert-warning {
    border-radius: 0px;
    color: #d8a300; /*#8a6d3b*/
    background-color: #fff6d6; /* #fcf8e3*/
    border: 5px solid #d8a300;
    box-shadow: 0px 5px 21px 1px #6c6c6c;
    -webkit-box-shadow: 0px 5px 21px 1px #6c6c6c;
    -moz-box-shadow: 0px 5px 21px 1px #6c6c6c;
    -o-box-shadow: 0px 5px 21px 1px #6c6c6c;
}

.alert-danger {
    border-radius: 0px;
    color: #cb1b19; /*#a94442;*/
    background-color: #f2dede;
    border: 5px solid #cb1b19;/*#a94442;*/
    box-shadow: 0px 5px 21px 1px #6c6c6c;
    -webkit-box-shadow: 0px 5px 21px 1px #6c6c6c;
    -moz-box-shadow: 0px 5px 21px 1px #6c6c6c;
    -o-box-shadow: 0px 5px 21px 1px #6c6c6c;
}

.avvisi .alert-success a {
    color: #3c763d;
    font-weight:700;
    text-decoration:underline;
}

.avvisi .alert-info a {
    color: #31708f;
    font-weight: 700;
    text-decoration: underline;
}

.avvisi .alert-warning a {
    color: #d8a300;
    font-weight: 700;
    text-decoration: underline;
}

.avvisi .alert-danger a {
    color: #cb1b19;
    font-weight: 700;
    text-decoration: underline;
}

/* //////////////////MENU CHE NON SI RIDUCE////////////////////////// */

#mainheader.ridotto {
    height: 108px;/*64px*/
}

#mainheader.ridotto .preheader {
   height: 48px;/*4px*/
   overflow: hidden;
}

#mainheader.ridotto .preheader .accedi {
   height: 48px;/*4px*/
   overflow: hidden;
}

#mainheader.ridotto .preheader .accedi a {
   font-size: 16px;/*1px*/
}


/*/////////////////////REGISTRAZIONE////////////////////////////////*/
/* ////////////////////////////////////// tab come MIUR */
#progress {
    padding: 0;
    list-style-type: none;
    clear: both;
    line-height: .7;
    padding: 0 0 0 4%;
}

#progress li {
float: left;
padding: 1.04em 0;
 background: #ebebeb;
position: relative;
 width: 23%;
margin: 0;
border: solid 1px #c4c4c4
}

#progress li p {
font-weight: bold;
margin: 0;
padding: 0 0 0 .4em;
text-indent: 1em;
text-align: center
}



#progress li:before {
content: "";
position: absolute;
top: 0;
left: 0;
border-left: 1.2em solid #c4c4c4;
border-top: 1.400em solid transparent;
border-bottom: 1.460em solid transparent
        }

#progress li.last p:after, #progress li:after {
content: " ";
position: absolute;
top: 0;
left: 100%;
z-index: 20;
border-left: 1.2em solid #ebebeb;
border-top: 1.400em solid transparent;
border-bottom: 1.460em solid transparent
}

#progress li.last p {
margin-top: -.018em
}

#progress li.last p:after {
border-left-color: #c4c4c4;
margin-left: .069em;
left: 99.5%
            }

/*colore active*/
#progress li.active {
background: #757575; /*06c*/
color: #fff;
    }

/*colore active*/
#progress li.active:after {
border-left-color: #757575;
    }

#progress li.done {
background: #5a6772;
color: #fff
        }

#progress li.done:after {
border-left-color: #5a6772
}

#progress li.step1 {
border-top-left-radius: 0.25em;
border-bottom-left-radius: 0.25em
        }

#progress li.step1:before {
border-top-width: 0;
border-bottom-width: 0
}







.legenda {
font-size: 14px;
border:1px solid lightgray;
padding:10px 15px;
margin-bottom:15px;
    }

    .legenda h1 {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .legenda ul {
        margin: 0px auto;
        padding: 0px;

    }

.legenda ul li {
margin-top:10px;
display: inline;
margin-right: 15px;
    }

.legenda img {
height: 25px;
 width: 25px;
    }

/* /////////////////responsive //////////////////////// */
@media (min-width:640px) {
    h2 {
        margin-top: .6em;
        margin-bottom: .6em
    }

    #progress {
        line-height: .75
    }

        #progress li p {
            font-weight: normal;
            padding-left: 0
        }

            #progress li p a {
                font-weight: normal;
                padding-left: 0;
                color: #333;
            }

        /*colore testo active*/
        #progress li.active p a {
            font-weight: normal;
            padding-left: 0;
            color: white;
            font-weight: bold;
        }

        #progress li span {
            display: inline
        }

    /* //////////////////////// */

.form-istituzione {
        padding: 8px 0px 15px 0px;
        border-top: 2px solid #d71920;
        border-bottom: 2px solid #d71920;
        margin: 20px 0px !important;
    }

.form-istituzione label {
            color: #810f13;
        }

.form-registrazione .form-group .mpi_inseriti {
        border-top: 1px solid #757575;
        margin-top: 15px;
        padding-top: 10px
    }

    .form-registrazione .form-group .mpi_inseriti label {
        color: #757575;
    }

    .riepilogodati p {
        padding: 5px 0px;
        border-top: 1px solid lightgray;
        font-size: 15px;
    }

    .riepilogodati span {
        font-weight: 600
    }


}

@media (max-width: 767px) {

#mainheader .accedi span {
        font-size: .6667em;
        display: block;
        line-height: 430%;
    }

#mainheader .logo-img img {
        display: none;
    }

#mainheader .logo-text {
        display: table-cell;
        padding-left: 10px;
    }

#mainheader .logo-text .h1, #mainheader .logo-text h1 {
padding-top: 0px;
margin: 0px;
font-size: 0.8em;
-webkit-transition: all .3s ease 0s;
-o-transition: all .3s ease 0s;
transition: all .3s ease 0s;
padding-right: 10px !important;
        }



#mainheader .logo-text .h1, #mainheader .logo-text span {
            margin-top: 10px;
            font-size: 0.7em;
            -webkit-transition: all .3s ease 0s;
            -o-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
            line-height: 0.4em;
        }

    section.fascia-grey-login {
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: #eee
    }

    #mainheader .logo-wrapper {
        margin-left: 0px;
    }

    #mainheader .logo-text {
        display: table-cell;
        padding-left: 40px;
    }

    #mainheader.ridotto .logo-wrapper {
        margin-top: 0;
        margin-left: 5px;
    }

    /*/////////////////////REGISTRAZIONE////////////////////////////////*/
    /* ////////////////////////////////////// tab come MIUR */
    #progress {
        padding: 0;
        list-style-type: none;
        clear: both;
        line-height: .7;
        padding: 0 0 0 3%;
    }

        #progress li {
            float: left;
            padding: 1.04em 0;
            background: #ebebeb;
            position: relative;
            width: 23%;
            margin: 0;
            border: solid 1px #c4c4c4
        }

            #progress li p {
                font-size: 13px;
                font-weight: bold;
                margin: 0;
                padding: 0 0 0;
                text-indent: 1em;
                text-align: center;
            }

                #progress li p a {
                    font-weight: normal;
                    padding-left: 0;
                    color: #333;
                }

            #progress li.active p a {
                font-weight: normal;
                padding-left: 0;
                color: white;
                font-weight: bold;
            }

            #progress li:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                border-left: 1.1em solid #c4c4c4; /*1.2em solid #c4c4c4;*/
                border-top: 1.350em solid transparent; /*1.400em solid transparent;*/
                border-bottom: 1.300em solid transparent; /*1.460em solid transparent*/
            }

            #progress li.last p:after, #progress li:after {
                content: " ";
                position: absolute;
                top: 0;
                left: 100%;
                z-index: 20;
                border-left: 1.1em solid #ebebeb;
                border-top: 1.350em solid transparent;
                border-bottom: 1.300em solid transparent
            }

            #progress li.last p {
                margin-top: -.018em
            }

                #progress li.last p:after {
                    border-left-color: #c4c4c4;
                    margin-left: .069em;
                    left: 99.5%
                }

            /*colore active*/
            #progress li.active {
                background: #757575; /*06c*/
                color: #fff;
            }

                /*colore active*/
                #progress li.active:after {
                    border-left-color: #757575;
                }

            #progress li.done {
                background: #5a6772;
                color: #fff
            }

                #progress li.done:after {
                    border-left-color: #5a6772
                }

            #progress li.step1 {
                border-top-left-radius: 0.25em;
                border-bottom-left-radius: 0.25em
            }

                #progress li.step1:before {
                    border-top-width: 0;
                    border-bottom-width: 0
                }

    /*  //////////////////////////////////////////////////////////  */

    #mainheader .preheader .governo {

        font-size: .6667em;
        font-weight: 700;
        text-align: left;
        text-indent: 0 !important;
    }

    #mainheader .preheader .governo {
        padding-left: 52px !important;
    }
}

@media (max-width: 991px) {
    #mainheader .logo-wrapper {
        margin-left: 0px;
    }

    #mainheader .logo-img img {
        height: 70px;
        max-height: 70px;
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        margin-top: 10px;
    }

    #mainheader .preheader .governo {
        padding-left: 102px;
    }
}

@media (min-width: 1279px) {
    #mainheader.ridotto .preheader .governo {
        padding-left: 85px!important;
    }
}



/* ////////////////////////index*/

.info_archivi {
    font-size: 1.1em;
    color: #fff;
    background-color: #5b5b5b;
    padding: 14px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.44;
    border: 8px solid white;
}

    .info_archivi p {
        margin: 0px;
        font-size: 1em;
    }

    .info_archivi b {
        font-size: 2.2em;
    }

    .info_archivi img {
        margin-top: 5px;/*25px*/
        margin-left:-10px;
        height: 54px;
    }


.info_archivi2 {
    font-size: 1.1em;
    color: #fff;
    background-color: #848484;
    padding: 14px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.44;
    border: 8px solid white;
}

    .info_archivi2 p {
        margin: 5px 0px 0px 10px;
        font-size: 0.9em;
    }

        .info_archivi2 p u {
            font-weight: 600
        }


    .info_archivi2 b {
        font-size: 2.2em;
    }

    .info_archivi2 img {
        margin-top: 5px; /*25px*/
        margin-left: -10px;
        height: 54px;
    }


@media (max-width: 767px) {
    #primo-piano {
        padding: 15px;
    }
}


@media (max-width: 991px) {
    #mainheader .preheader .governo {
        padding-left: 0px !important;
    }
}

@media (max-width: 1279px) {
    #mainheader .preheader .governo {
        padding-left: 85px;
    }
}

@media (max-width: 991px) {
    body.home.ridotto #mainheader {
        height: 125px;
    }
}

footer .postFooter li:last-child {
    border-top: 1px solid #65dcdf !important;
}


#mainmenu .accordian-toggle.collapsed::after {
    position: relative;
    bottom: 0px;
    float: right;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 30px;/*1.8em;*/
    color: grey;
    content: "˅";
}

#mainmenu .accordian-toggle::after {
    position: relative;
    bottom: 0px;
    float: right;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 30px;/*1.8em;*/
    color: grey;
    content: "˄";
}


#mainmenu .accordian-toggle {
    margin-top: -1px;
    margin-bottom: 0;
    text-decoration: none !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

#mainmenu .sublinks li {
    padding-left: 40px!important;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
}
