﻿<!DOCTYPE html>
<html xml:lang="it" lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Osservatorio Regionale Educazione Istruzione</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta id="viewport" name="viewport" content="initial-scale=1.0, width=device-width" />

    <link rel="icon" type="image/png" href="favicons/favicon.ico" sizes="16x16">

<!--02_07 -->
    <!--<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">-->
    <link href="css/titillium_css.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/boostrap.min.js"></script>

    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/masonry.min.js"></script>

    <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>


    <!-- fontawesome -->
    <link rel="stylesheet" href="fonts/fontawesome/css/css/fontawesome-all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- css aggiunto -->
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/customizzazione.css">

<!--02_07 --> 
    <link rel="stylesheet" href="css/alert_index.css">

    <script type="text/javascript" src="js/scripts.js"></script>
    
<!--02_07 --> 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    
    <!--[if lt IE 9]-->
    <!-- <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <script type="text/javascript" src="js/html5shiv.min.js"></script>
    
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <script type="text/javascript" src="js/respond.min.js"></script>
    <!--[endif]-->
</head>

<body class="home">

    <!-- Main contenuti inizia -->
    <header id="mainheader" class="navbar-fixed-top">

        <!-- Fascia Governo & Servizi -->
        <section class="preheader" style="    height: 48px;">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 governo">
                        <a title="Sito della Regione Toscana" href="http://www.regione.toscana.it/" target="_blank">
                            <img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" style="height:32px;margin-bottom:5px">
                        </a>
                        <small  class="pull-right"><img src="images/user.png" alt=""><span th:text="${utente.username}" style="color:#e5eff9"><i class="fas fa-user"></i> Eduardo Accetta</span></small>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 accedi" style="padding:0px">
                        <form th:action="@{/logout}" method="post">
                            <button style="font-size: 16px;font-color: #fff;  height: 48px;  background-color: #06c; border:none" type="submit" value="Sign Out" >◄ LOG OUT</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fascia Governo & Servizi -->
        <!-- Button Menu -->
        <button data-target=".sidebar-offcanvas" data-toggle="offcanvas" class="navbar-toggle menu-btn pull-left">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Logo e titolo -->
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo logo-wrapper">
                    <div class="logo-img"><a href="login" title="OSP - Regione Toscana"><img src="images/logo.svg" alt="gestione osservatorio scolastico" /></a></div>
                    <div class="logo-text">
                        <h1><a href="login" title="Osservatorio regionale educazione e istruzione">Sistema Informativo Anagrafe Regionale degli Studenti</a></h1>
                        <span>Osservatorio regionale educazione e istruzione</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo & Ricerca -->
        <section th:switch="${richiedente.ruolo}" class="fascia-rosso hidden-xs" id="sub_nav">
            <h3 class="sr-only">Submenu</h3>
            <ul th:case="ADMIN" class="sub_nav clearfix">
                <li><a href="pdf/Manuale_invio_archivio.pdf" title="Manuale" download>Manuale</a></li>
                <li ><a href="lista_account" title="Vai alla pagina: lista account">Lista Account</a></li>
                <li><a name="menu-item" href="lista_file" title="Vai alla pagina: lista archivi">Lista Archivi</a></li>

            </ul>
            <ul th:case="*" class="sub_nav clearfix">
                <li><a href="pdf/Manuale_invio_archivio.pdf" title="Manuale" download>Manuale</a></li>
                <li><a name="menu-item" href="carica_file" title="Vai alla pagina: invio archivio">Invio Archivio</a></li>
                <li><a name="menu-item" href="lista_file" title="Vai alla pagina: lista archivi">Lista Archivi</a></li>
            </ul>
        </section>
    </header>

    <!-- Nav bar -->
    <nav id="navbar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 nav sidebar-offcanvas">
        <img src="images/x-rosso.svg" id="chiudimenu" alt="chiudi il menu" />
        <div class="scrolling-nav-wrapper" th:switch="${richiedente.ruolo}">
            <ul th:case="ADMIN" class="nav nav-stacked" id="mainmenu">
                    <li name="menu-item" class="list-group-item"><a href="index">Homepage</a></li>

                    <li name="menu-item"class="list-group-item"><a href="lista_file" title="Vai alla pagina: lista archivi">Lista Archivi</a></li>
                    <li class="list-group-item"><a href="account" title="Vai alla pagina: account">Account</a></li>
                    <li name="menu-item" class="list-group-item"><a href="lista_account" title="Vai alla pagina: lista account">Lista Account</a></li>
                    <li class="list-group-item"><a href="pdf/Manuale_invio_archivio.pdf" title="scarica manuale" download="">Manuale</a></li>
                <li class="list-group-item">
                    <a class="accordian-toggle collapsed" href="#" data-toggle="collapse" data-parent="#navbar" data-target="#controlli">Controlli</a>
                    <ul class="sublinks collapse" id="controlli">
                        <li><a href="lista_istituzioni_non_accreditate" title="">Lista Istituzioni non accreditate</a></li>
                        <li><a href="lista_istituzioni_no_archivi" title="">Lista Archivi non inviati</a></li>
                    </ul>
                </li>

            </ul>

            <ul th:case="REGISTRATO" class="nav nav-stacked" id="mainmenu" >
                <li class="list-group-item"><a href="pdf/Manuale_invio_archivio.pdf" title="scarica manuale" download="">Manuale</a></li>
            </ul>
            <ul th:case="*" class="nav nav-stacked" id="mainmenu">
                <li name="menu-item" class="list-group-item"><a href="index">Homepage</a></li>
                <li name="menu-item"class="list-group-item"><a href="carica_file" title="Vai alla pagina: invio archivio">Invio Archivio</a></li>
                <li name="menu-item"class="list-group-item"><a href="lista_file" title="Vai alla pagina: lista archivi">Lista Archivi</a></li>
                <li class="list-group-item"><a href="account" title="Vai alla pagina: account">Account</a></li>
                <li class="list-group-item"><a href="pdf/Manuale_invio_archivio.pdf" title="scarica manuale" download="">Manuale</a></li>
            </ul>
        </div>
    </nav>

    <!-- main-->
            <div th:switch="${utente.ruolo}">
                <div th:case="REGISTRATO" class="Prose Alert Alert--info Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert" >
                    <h2 class="u-text-h3">
                        <!--Ulteriori informazioni--> Account in attesa di accreditamento
                    </h2>
                    <p class="u-text-p">Il suo account è in fase di accreditamento. Quando sarà valitado ne riceverà comunicazione alla sua mail.</p>
                </div>
            </div>

            <label th:text="${admin}" ></label>

          <div class="Prose Alert Alert--info Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert" style="display: none">
                <h2 class="u-text-h3">
                    <!--Ulteriori informazioni--> Account in attesa di accreditamento
                </h2>
                <p class="u-text-p">Il suo account è in fase di accreditamento. Quando sarà valitado ne riceverà comunicazione alla sua mail.</p>
          </div>
<!-- fine AVVISI -->

    
    <section class="fascia-grey-login" style="margin:0px;padding-top:20px">

        <div class="container">
            <div class="row clearfix">

                <div class="col-lg-6 col-md-6 col-sx-6 col-xs-12 col-lg-offset-3 col-md-offset-3">
                    <h3 class="text-center login-title" style="margin:10px auto">Account</h3>
                    <div class="account-wall">
                        <form class="form-registrazione">

                            <div class="col-md-12 riepilogodati">
                                <th:block th:each="user : ${utente.istituzioni}">
                                    <p>
                                        ISTITUZIONE SCOLASTICA:
                                        <span th:text=" ' ['+ ${user.codice} + '] ' + ${user.denominazione}">...</span>

                                    </p>
                                </th:block>
                            </div>

                            <div class="col-md-12 riepilogodati" th:switch="${utente.ruolo}">
                                <p th:case="ADMIN">
                                    OPERATORE:
                                    <span>Amministratore di sistema</span>
                                    <span><a href="pdf/Informativa2018.pdf" target="_blank" download class="pull-right">▼ informativa privacy</a></span>
                                </p>

                                <p th:case="*">
                                    OPERATORE:
                                    <span>Dirigente scolastico o suo delegato</span>
                                    <span><a href="pdf/Informativa2018.pdf" target="_blank" download class="pull-right">▼ informativa privacy</a></span>
                                </p>
                            </div>

                            <div class="col-md-12 riepilogodati">
                                <p>
                                    Codice fiscale:
                                    <span th:text="${utente.codiceFiscale}"></span>
                                </p>
                            </div>

                            <div class="col-md-12 riepilogodati">
                                <p>
                                    Username:
                                    <span th:text="${utente.username}"></span>
                                </p>
                            </div>

                            <div class="col-md-6 riepilogodati">
                                <p>
                                    Cognome:
                                    <span th:text="${utente.cognome}"></span>
                                </p>
                            </div>

                            <div class="col-md-6 riepilogodati">
                                <p>
                                    Nome:
                                    <span th:text="${utente.nome}"></span>
                                </p>
                            </div>

                            <div class="col-md-6 riepilogodati">
                                <p>
                                    Data di nascita:
                                    <span th:text="${#dates.format(utente.compleanno, 'dd-MMM-yyyy')}"></span>
                                </p>
                            </div>

                            <div class="col-md-6 riepilogodati">
                                <p>
                                    Nazione di nascita:
                                    <span th:text="${utente.nazione}"></span>
                                </p>
                            </div>

                            <div class="col-md-6 riepilogodati">
                                <p>
                                    Provincia di nascita:
                                    <span th:text="${utente.provincia}"></span>
                                </p>
                            </div>

                            <div class="col-md-6 riepilogodati">
                                <p>
                                    Comune di nascita:
                                    <span th:text="${utente.comune}"></span>
                                </p>
                            </div>

                            <div class="col-md-6 riepilogodati">
                                <p th:switch="${utente.maschioSiNo}">
                                    Sesso:
                                    <span th:case="true">M</span>
                                    <span th:case="false">F</span>
                                </p>
                            </div>

                            <div class="col-md-12 riepilogodati">
                                <p>
                                    Email:
                                    <span th:text="${utente.email}"></span>
                                </p>
                            </div>

                            <span class="clearfix"></span>
                        </form>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sx-6 col-xs-12">
                </div>

            </div>
        </div>
    </section>
    <!-- fine main-->



    <section class="fascia-rosso"></section>

      <!-- Footer inizio -->
    <footer>
        <div class="container">

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-img">
                        <!--<img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" /> <br class="visible-xs" />-->
                        <img src="images/logo.svg" alt="Gestione Osservatorio Scolastico">
                        &nbsp;&nbsp;
                        <br class="visible-xs">
                        <span>Osservatorio Regionale <br class="visible-xs"> Educazione e Istruzione</span>
                        <hr>
                        <a href="http://www.regione.toscana.it/-/anagrafe-regionale-degli-studenti" target="_blank" title="Sito della Regione Toscana - Anagrafe regionale studenti" style="color:#fff;font-weight: normal">
                            <span><small>DIREZIONE GENERALE DELLA GIUNTA REGIONALE<br>
                                 <small>- DIREZIONE ISTRUZIONE E FORMAZIONE<br>
                                    <small>- SETTORE EDUCAZIONE E ISTRUZIONE</small>
                                 </small>
                                </small>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <section class="contatti">
                <div class="row clearfix">

                    <div class="col-lg-10 col-md-9 col-sm-9">
                        <br class="visible-xs" />
                        <h4>Assistenza Tecnica <small><br class="visible-xs" />&nbsp;&nbsp;&nbsp;&nbsp; ARS &nbsp;-&nbsp; Anagrafe Regionale Studenti</small></h4>

                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Arezzo - Massa Carrara</h5>
                                                David Priore<br />
                                                tel. +39 334 8589472
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Siena - Grosseto</h5>
                                                Giulio Petrangeli<br />
                                                tel. +39 0577 241819
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Firenze - Prato</h5>
                                                Yari Conti<br />
                                                tel. +39 050 3180024
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Lucca - Pistoia</h5>
                                                Alessandra Tofanelli<br />
                                                tel. +39 050 3180025
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Pisa - Livorno</h5>
                                                Simone Mancini<br />
                                                tel. +39 050 3180023
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                    <br class="visible-xs" />
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                        <h4>Email</h4>

                        <div class="row clearfix">
                            <div class="addressBox ">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <h5>per informazioni:</h5>
                                                dati-studenti@regione.toscana.it<br />
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <section class="postFooter clearfix">
                <ul class="list-inline">
                    <li>Sito sviluppato da &nbsp;<a href="https://www.soluxioni.it/" target="_blank"  title="sito sviluppato da soluxioni srl">Soluxioni srl</a></li>
                    <!--<li>&nbsp; | &nbsp;&nbsp;<a href="note_legali" title="Note legali">Note legali</a></li>-->
                    <li>&nbsp; | &nbsp;&nbsp;<a href="privacy" target="_blank" title="Privacy Policy">Privacy Policy</a></li>
                </ul>
            </section>
        </div>
    </footer>


    <div class="menu-underlayer" id="overlayer"></div>
    <div id="topcontrol" class="topcontrol" title="Torna su">
        <img class="tornasuimg" alt="Torna su" src="images/torna_su.svg">
    </div>

    <script>
      $(window).on("load", function () {
        var url = window.location.href;
        var parametri = url.split("?")[1];
        if(parametri === "tipo=tmp"){
          //todo sistemamre con thymeleaf
          $("[name='menu-item']").hide();
        }
      });
    </script>

</body>
</html>
