﻿<!DOCTYPE html>
<html xml:lang="it" lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Osservatorio Regionale Educazione Istruzione</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta id="viewport" name="viewport" content="initial-scale=1.0, width=device-width" />

    <link rel="icon" type="image/png" href="favicons/favicon.ico" sizes="16x16">

<!--02_07 -->
    <!--<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">-->
    <link href="css/titillium_css.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/boostrap.min.js"></script>

    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/masonry.min.js"></script>

    <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>


    <!-- fontawesome -->
    <link rel="stylesheet" href="fonts/fontawesome/css/css/fontawesome-all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- css aggiunto -->
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/customizzazione.css">
   
<!--02_07 --> 
    <link rel="stylesheet" href="css/alert_index.css">

    <script type="text/javascript" src="js/scripts.js"></script>
    
<!--02_07 --> 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    
    <!--[if lt IE 9]-->
    <!-- <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <script type="text/javascript" src="js/html5shiv.min.js"></script>
    
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <script type="text/javascript" src="js/respond.min.js"></script>
    <!--[endif]-->
</head>

<body class="home" style="padding-top: 150px;">
    <!-- Main contenuti inizia -->
    <header id="mainheader" class="navbar-fixed-top" style="max-height:190px">

            <!-- Fascia Governo & Servizi -->
        <section class="preheader" style="    height: 48px;">
            <div class="container">
                <div class="row clearfix">

                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 governo">
                        <a title="Sito della Regione Toscana" href="http://www.regione.toscana.it/" target="_blank">
                            <img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" style="height:32px;margin-bottom:5px">
                        </a>
                        <small  class="pull-right"><img src="images/user.png" alt=""><span th:text="${utente.username}" style="color:#e5eff9"><i class="fas fa-user"></i> Eduardo Accetta</span></small>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 accedi" style="padding:0px">
                        <form th:action="@{/logout}" method="post">
                            <button style="font-size: 16px;font-color: #fff;  height: 48px;  background-color: #06c; border:none" type="submit" value="Sign Out" > ◄ LOG OUT</button>
                        </form>

                    </div>
                </div>
            </div>
        </section>
            <!-- Fascia Governo & Servizi -->
            <!-- Logo e titolo -->
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo logo-wrapper">
                        <div class="logo-img"><a href="login" title="OSP - Regione Toscana"><img src="images/logo.svg" alt="gestione osservatorio scolastico" /></a></div>
                        <div class="logo-text">
                            <h1><a href="login" title="Osservatorio regionale educazione e istruzione">Sistema Informativo Anagrafe Regionale degli Studenti</a></h1>
                            <span>Osservatorio regionale educazione e istruzione</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    <main>
        <!-- AVVISI -->
        <div id="container-alert">
        <div class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert" style="display: none">
            <h2 class="u-text-h3">
                Si è verificato un errore
            </h2>
            <p class="u-text-p">Il formato del file è errato.</p>
            <p class="u-text-p">La dimensione dell'allegato è superiore al massimo consentito (5 MB).</p>
            <p class="u-text-p">Nessun file allegato. I campi contrassegnati da asterisco (*) sono obbligatori</p>
            <p class="u-text-p">Allegare entrambi i file. I campi contrassegnati da asterisco (*) sono obbligatori</p>
        </div>

        <div class="Prose Alert Alert--warning Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert" style="display: none">
            <h2 class="u-text-h3">
                Attenzione
            </h2>
            <p class="u-text-p"></p>
        </div>

        <div id="success" class="Prose Alert Alert--success Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert" style="display: none">
            <h2 class="u-text-h3">
                Operazione eseguita con successo
            </h2>
            <p class="u-text-p">
              Gentile utente, l'invio dei documenti per la convalida dell'account è avvenuto con successo. <br>
                A seguito della verifica delle informazioni inviate con quelle registrate, le arrivera' una notifica tramite email per la sua abilitazione al sistema.
                <br>
                Per uscire dal sistema e' possibile cliccare sul pulsante in alto a destra "Log out".
            </p>
        </div>

        <div id="dim" class="Prose Alert Alert&#45;&#45;error Alert&#45;&#45;withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert" style="display: none">
            <h2 class="u-text-h3">Si è verificato un errore
            </h2>
            <div>
                <p  class="u-text-p">La dimensione dell'allegato è superiore al massimo consentito (10 MB).</p>
            </div>
        </div>

        <div class="Prose Alert Alert--info Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert" style="display: none">
            <h2 class="u-text-h3">
                Ulteriori informazioni
            </h2>
            <p class="u-text-p"></p>
        </div>
        </div>
        <!-- fine AVVISI -->
        <!-- login -->
        <section class="fascia-grey-login" style="margin:0px;padding-top:20px">
            <div class="container">
                <div class="row clearfix">



                    <div id="big" class="col-lg-6 col-md-6 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-1">

                        <h3 class="text-center login-title" style="margin:10px auto">Allega documenti</h3>
                        <small>
                            <center>
                                Per completare la procedura di accreditamento è necessario allegare i documenti richiesti.<br />
                                (Possibilmente formato .pdf, dimensione massima 5 MB)
                            </center><br />
                        </small>

                        <div class="account-wall">
                            <form id="data" class="form-registrazione" action=""  enctype="multipart/form-data" method="POST">
                                <div class="form-group">
                                    <label>
                                        Allega Carta d'Identità o Passaporto *:
                                    </label>
                                    <input type="file" name="files" id="cid">
                                    <span class="clearfix"></span>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>
                                        Allega Codice Fiscale *:
                                    </label>
                                    <input type="file" name="files" id="cf" >
                                </div>
                                <input class="btn btn-sm btn-primary btn-block" type="submit" value="INVIA" style="margin-top:35px">

                                </input>
                                <span class="clearfix"></span>
                                <br />
                                <small> I campi contrassegnati da asterisco (*) sono obbligatori</small><br />
                                <a href="account" class="pull-left need-help" ><b> < Torna al tuo Account </b></a>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sx-6 col-xs-12">
                </div>

            </div>
        </section>

        <br/> <br/> <br/>
    </main>

        <!-- Footer inizio -->
        <footer>
            <div class="container">

                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="logo-img">
                            <!--<img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" /> <br class="visible-xs" />-->
                            <img src="images/logo.svg" alt="Gestione Osservatorio Scolastico">
                            &nbsp;&nbsp;
                            <br class="visible-xs">
                            <span>Osservatorio Regionale <br class="visible-xs"> Educazione e Istruzione</span>
                            <hr>
                            <a href="http://www.regione.toscana.it/-/anagrafe-regionale-degli-studenti" target="_blank" title="Sito della Regione Toscana - Anagrafe regionale studenti" style="color:#fff;font-weight: normal">
                            <span><small>DIREZIONE GENERALE DELLA GIUNTA REGIONALE<br>
                                 <small>- DIREZIONE ISTRUZIONE E FORMAZIONE<br>
                                    <small>- SETTORE EDUCAZIONE E ISTRUZIONE</small>
                                 </small>
                                </small>
                            </span>
                            </a>
                        </div>
                    </div>
                </div>

                <section class="contatti">
                    <div class="row clearfix">

                        <div class="col-lg-10 col-md-9 col-sm-9">
                            <br class="visible-xs" />
                            <h4>Assistenza Tecnica <small><br class="visible-xs" />&nbsp;&nbsp;&nbsp;&nbsp; ARS &nbsp;-&nbsp; Anagrafe Regionale Studenti</small></h4>

                            <div class="row clearfix">
                                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                    <div>
                                        <ul class="footer-list clearfix">
                                            <li class="">
                                                <div class="address">
                                                    <small>Istituzioni Scolastiche di</small>
                                                    <h5>Arezzo - Massa Carrara</h5>
                                                    David Priore<br />
                                                    tel. +39 334 8589472
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                    <div>
                                        <ul class="footer-list clearfix">
                                            <li class="">
                                                <div class="address">
                                                    <small>Istituzioni Scolastiche di</small>
                                                    <h5>Siena - Grosseto</h5>
                                                    Giulio Petrangeli<br />
                                                    tel. +39 0577 241819
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                    <div>
                                        <ul class="footer-list clearfix">
                                            <li class="">
                                                <div class="address">
                                                    <small>Istituzioni Scolastiche di</small>
                                                    <h5>Firenze - Prato</h5>
                                                    Yari Conti<br />
                                                    tel. +39 050 3180024
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                    <div>
                                        <ul class="footer-list clearfix">
                                            <li class="">
                                                <div class="address">
                                                    <small>Istituzioni Scolastiche di</small>
                                                    <h5>Lucca - Pistoia</h5>
                                                    Alessandra Tofanelli<br />
                                                    tel. +39 050 3180025
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                    <div>
                                        <ul class="footer-list clearfix">
                                            <li class="">
                                                <div class="address">
                                                    <small>Istituzioni Scolastiche di</small>
                                                    <h5>Pisa - Livorno</h5>
                                                    Simone Mancini<br />
                                                    tel. +39 050 3180023
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <br class="visible-xs" />
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                            <h4>Email</h4>

                            <div class="row clearfix">
                                <div class="addressBox ">
                                    <div>
                                        <ul class="footer-list clearfix">
                                            <li class="">
                                                <div class="address">
                                                    <h5>per informazioni:</h5>
                                                    dati-studenti@regione.toscana.it<br />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>

                <section class="postFooter clearfix">
                    <ul class="list-inline">
                        <li>Sito sviluppato da &nbsp;<a href="https://www.soluxioni.it/" target="_blank"  title="sito sviluppato da soluxioni srl">Soluxioni srl</a></li>
                        <!--<li>&nbsp; | &nbsp;&nbsp;<a href="note_legali" title="Note legali">Note legali</a></li>-->
                        <li>&nbsp; | &nbsp;&nbsp;<a href="privacy" target="_blank" title="Privacy Policy">Privacy Policy</a></li>
                    </ul>
                </section>
            </div>
        </footer>


        <div class="menu-underlayer" id="overlayer"></div>
        <div id="topcontrol" class="topcontrol" title="Torna su">
            <img class="tornasuimg" alt="Torna su" src="images/torna_su.svg">
        </div>


    <script>
        function onDocumentSent(){
          $("#success").show();
          $("#big").hide();
        }

        function isExtensionOk(filename){
          var extension = filename.replace(/^.*\./, '');
          if (extension == filename) {
            extension = '';
          } else {
            extension = extension.toLowerCase();
          }
          switch (extension) {
            case 'jpg':
            case 'pdf':
            case 'jpeg':
            case 'png':
                return true;
            default:
              return false;
          }

        }

        function showAlert(type, text){
          $('#container-alert').append(`<div id="error-alert" tabindex='1' class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert"  >
                <h2 class="u-text-h3">Si è verificato un errore
                </h2>
                <p class="u-text-p">${text}</p>
                <br>
             </div>`);

          $('#error-alert').focus();
        }


        $("#data").submit(function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            $('#dim').hide();
            var idPath = $("#cid").val();
            var cfPath = $("#cf").val();
            var idOk = isExtensionOk(idPath);
            var cfOk = isExtensionOk(cfPath);
            var errors = 0;
            var message = "";
            if ($('#error-alert').length != 0){
              $('#error-alert').remove();
            }
            if(idPath == "" || cfPath == ""){
              errors++;
              message += ("Allegare entrambi i file. I campi contrassegnati da asterisco (*) sono obbligatori <br>")

            } else {
              if(!idOk || !cfOk){
                errors++;
                message += ("Il formato del file è errato.<br>")
              }
            }

            if(errors == 0) {
                $.ajax({
                    url: `https://www.osservatorioscolastico.regione.toscana.it/allega_documento`,
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        onDocumentSent();
                    },
                  error: function(XMLHttpRequest, textStatus, errorThrown) {

                    $('#dim').show();
                    window.scrollTo(0, 0);
                  },
                    cache: false,
                    contentType: false,
                    processData: false
                    });
                  e.preventDefault();
            } else {
              showAlert("ERRORE", message);
            }
        });
    </script>
</body>
</html>
