﻿<!DOCTYPE html>
<html xml:lang="it" lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Osservatorio Regionale Educazione Istruzione</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta id="viewport" name="viewport" content="initial-scale=1.0, width=device-width" />

    <link rel="icon" type="image/png" href="favicons/favicon.ico" sizes="16x16">

<!--02_07 -->
    <!--<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">-->
    <link href="css/titillium_css.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/boostrap.min.js"></script>

    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/masonry.min.js"></script>

    <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>


    <!-- fontawesome -->
    <link rel="stylesheet" href="fonts/fontawesome/css/css/fontawesome-all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- css aggiunto -->
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/customizzazione.css">

<!--02_07 --> 
    <link rel="stylesheet" href="css/alert_index.css">

    <script type="text/javascript" src="js/scripts.js"></script>


<!--02_07 --> 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    
    <!--[if lt IE 9]-->
    <!-- <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <script type="text/javascript" src="js/html5shiv.min.js"></script>
    
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <script type="text/javascript" src="js/respond.min.js"></script>
    <!--[endif]-->
</head>

<body class="home" style="padding-top: 150px;">
    <!-- Main contenuti inizia -->
    <header id="mainheader" class="navbar-fixed-top" style="max-height:190px">

        <!-- Fascia Governo & Servizi -->
        <section class="preheader" style="    height: 48px;">
            <div class="container">
                <div class="row clearfix">

                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 governo">
                        <a title="Sito della Regione Toscana" href="http://www.regione.toscana.it/" target="_blank">
                            <img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" style="height:32px;margin-bottom:5px">
                        </a>
                        <small  class="pull-right"><img src="images/user.png" alt=""><span th:text="${utente.username}" style="color:#e5eff9"><i class="fas fa-user"></i> Eduardo Accetta</span></small>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 accedi" style="padding:0px">
                        <form th:action="@{/logout}" method="post">
                            <button style="font-size: 16px;font-color: #fff;  height: 48px;  background-color: #06c; border:none" type="submit" value="Sign Out" > ◄ LOG OUT</button>
                        </form>

                    </div>
                </div>
            </div>
        </section>
            <!-- Fascia Governo & Servizi -->
            <!-- Logo e titolo -->
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo logo-wrapper">
                        <div class="logo-img"><a href="login" title="OSP - Regione Toscana"><img src="images/logo.svg" alt="gestione osservatorio scolastico" /></a></div>
                        <div class="logo-text">
                            <h1><a href="login" title="Osservatorio regionale educazione e istruzione">Sistema Informativo Anagrafe Regionale degli Studenti</a></h1>
                            <span>Osservatorio regionale educazione e istruzione</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    <main>
<!-- AVVISI -->
    <div id="container-alert" >
        <div id="error" class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert" style="display: none" >
            <h2 class="u-text-h3">
                Si è verificato un errore
            </h2>
            <p id="coincidono" class="u-text-p" style="display: none">Il campo "Nuova password" e "Conferma nuova password" devono coincidere.</p>
            <p id="vecchia" class="u-text-p" style="display: none">Il cambpo "Vecchia password" non è corretto.</p>
            <p id="obbligatori" class="u-text-p" style="display: none">I campi contrassegnati da asterisco (*) sono obbligatori</p>
            <p id="criteri" class="u-text-p" style="display: none">La nuova password non rispetta i requisiti richiesti.</p>
            <p id="inesistente" class="u-text-p" style="display: none">Username non presente.</p>
            <p id="uguali" class="u-text-p" style="display: none">La nuova password non può essere uguale alla vecchia password.</p>
        </div>



         <div id="operazione-ok" class="Prose Alert Alert--success Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert" style="display: none" >
                <h2 class="u-text-h3">
                    Operazione eseguita con successo
                </h2>
                <p class="u-text-p">Può continuare la navigazione.</p>
          </div>

    </div>
<!-- fine AVVISI -->

        
        <!-- login -->

                    <section class="fascia-grey-login" style="margin:0px;padding-top:20px">
                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-4 col-sx-6 col-xs-12">
                                </div>

                                <div class="col-lg-4 col-md-4 col-sx-6 col-xs-12">
                                    <h3 class="text-center login-title" style="margin:10px auto">Cambio password</h3>
                                    <div class="account-wall">
                                        <div id="data" class="form-signin" >
                                            <label>
                                                Vecchia password*:
                                            </label>
                                            <input id="old" name="psw" type="password" class="form-control" placeholder="Inserisci la vecchia password" required autofocus>
                                            <label style="margin-top:20px">
                                                Nuova password*:
                                            </label>

                                            <div class="dropdown">
                                                <a data-toggle="dropdown" href="#">Requisiti password<b class="caret"></b></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">- lunghezza minima 8 caratteri</a></li>
                                                    <li><a href="#">- almeno un carattere maiuscolo</a></li>
                                                    <li><a href="#">- almeno un carattere minuscolo</a></li>
                                                    <li><a href="#">- almeno un numero</a></li>
                                                    <li><a href="#">- può contenere i seguenti caratteri speciali: ! @ # $ % - _</a></li>
                                                    <li><a href="#">- non può contenere spazi</a></li>
                                                </ul>
                                            </div>
                                            <input id="new" name="psw" type="password" class="form-control" placeholder="Inserisci la vecchia password" required autofocus>
                                            <label style="margin-top:20px">
                                                Conferma nuova password*:
                                            </label>
                                            <input id="conf" name="psw" type="password" class="form-control" placeholder="Inserisci la vecchia password" required autofocus>

                                            <button onclick="changePassword()" class="btn btn-sm btn-primary btn-block" value="INVIA"  style="margin-top:15px">
                                                INVIA
                                            </button>
                                            <span class="clearfix"></span>

                                        </div>
                                        <center><small><small> I campi contrassegnati da asterisco (*) sono obbligatori</small></small></center>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sx-6 col-xs-12">
                                </div>

                            </div>
                        </div>
                    </section>
</main>

     <!-- Footer inizio -->
    <footer>
        <div class="container">

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-img">
                    <!--<img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" /> <br class="visible-xs" />-->
                    <img src="images/logo.svg" alt="Gestione Osservatorio Scolastico">
                    &nbsp;&nbsp;
                    <br class="visible-xs">
                    <span>Osservatorio Regionale <br class="visible-xs"> Educazione e Istruzione</span>
                    <hr>
                    <a href="http://www.regione.toscana.it/-/anagrafe-regionale-degli-studenti" target="_blank" title="Sito della Regione Toscana - Anagrafe regionale studenti" style="color:#fff;font-weight: normal">
                            <span><small>DIREZIONE GENERALE DELLA GIUNTA REGIONALE<br>
                                 <small>- DIREZIONE ISTRUZIONE E FORMAZIONE<br>
                                    <small>- SETTORE EDUCAZIONE E ISTRUZIONE</small>
                                 </small>
                                </small>
                            </span>
                    </a>
                </div>
            </div>
            </div>

            <section class="contatti">
                <div class="row clearfix">

                    <div class="col-lg-10 col-md-9 col-sm-9">
                        <br class="visible-xs" />
                        <h4>Assistenza Tecnica <small><br class="visible-xs" />&nbsp;&nbsp;&nbsp;&nbsp; ARS &nbsp;-&nbsp; Anagrafe Regionale Studenti</small></h4>

                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Arezzo - Massa Carrara</h5>
                                                David Priore<br />
                                                tel. +39 334 8589472
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Siena - Grosseto</h5>
                                                Giulio Petrangeli<br />
                                                tel. +39 0577 241819
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Firenze - Prato</h5>
                                                Yari Conti<br />
                                                tel. +39 050 3180024
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Lucca - Pistoia</h5>
                                                Alessandra Tofanelli<br />
                                                tel. +39 050 3180025
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Pisa - Livorno</h5>
                                                Simone Mancini<br />
                                                tel. +39 050 3180023
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                    <br class="visible-xs" />
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                        <h4>Email</h4>

                        <div class="row clearfix">
                            <div class="addressBox ">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <h5>per informazioni:</h5>
                                                dati-studenti@regione.toscana.it<br />
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <section class="postFooter clearfix">
                <ul class="list-inline">
                    <li>Sito sviluppato da &nbsp;<a href="https://www.soluxioni.it/" target="_blank"  title="sito sviluppato da soluxioni srl">Soluxioni srl</a></li>
                    <!--<li>&nbsp; | &nbsp;&nbsp;<a href="note_legali.html" title="Note legali">Note legali</a></li>-->
                    <li>&nbsp; | &nbsp;&nbsp;<a href="privacy" target="_blank" title="Privacy Policy">Privacy Policy</a></li>
                </ul>
            </section>
        </div>
    </footer>


    <div class="menu-underlayer" id="overlayer"></div>
    <div id="topcontrol" class="topcontrol" title="Torna su">
        <img class="tornasuimg" alt="Torna su" src="images/torna_su.svg">
    </div>


    <script>
      function changePassword(){
        $("#error").hide();
        $("#operazione-ok").hide();
        $("#criteri").hide();
        $("#vecchia").hide();
        $("#uguali").hide();
        $("#inesistente").hide();
        var user = new Object();
        user.old = $("#old").val();
        user.new = $("#new").val();
        user.conf = $("#conf").val();
        $.ajax({
          type: "POST",
          url: `https://www.osservatorioscolastico.regione.toscana.it/utente/cambio_psw`,
          data: {'param' : JSON.stringify(user)},
          success: function(data){
            var esito;
            $.each(data, function (key, entry) {
              esito= entry;
            });

            if(esito == "primo"){
              window.location.href = "https://www.osservatorioscolastico.regione.toscana.it/allega_documento";
              return;
            }
            if(esito == "ok"){
              $("#operazione-ok").show();
              return;
            }else{
              $("#error").show();
            }

            if(esito == "criteri"){
              $("#criteri").show();
            }

            if(esito == "vecchia"){
              $("#vecchia").show();
            }

            if(esito == "ko"){
              $("#inesistente").show();
            }
            if(esito == "uguali"){
              $("#uguali").show();
            }
          },
          failure: function(errMsg) {

          }
        });
      }
    </script>
</body>
</html>
