﻿<!DOCTYPE html>
<html xml:lang="it" lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Osservatorio Regionale Educazione Istruzione</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta id="viewport" name="viewport" content="initial-scale=1.0, width=device-width" />

    <link rel="icon" type="image/png" href="favicons/favicon.ico" sizes="16x16">

<!--02_07 -->
    <!--<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">-->
    <link href="css/titillium_css.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/boostrap.min.js"></script>

    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/masonry.min.js"></script>

    <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>


    <!-- fontawesome -->
    <link rel="stylesheet" href="fonts/fontawesome/css/css/fontawesome-all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- css aggiunto -->
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/customizzazione.css">

<!--02_07 --> 
    <link rel="stylesheet" href="css/alert_index.css">

    <!-- MODALE -->
    <link href="css/modal/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="css/modal/bootstrap-modal.css" rel="stylesheet" type="text/css" />

    <!--MODALE-->
    <script src="js/modal/bootstrap-modalmanager.js" type="text/javascript"></script>
    <script src="js/modal/bootstrap-modal.js" type="text/javascript"></script>
    <script src="js/modal/ui-extended-modals.min.js" type="text/javascript"></script>


    <script type="text/javascript" src="js/scripts.js"></script>
    
<!--02_07 --> 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    
    <!--[if lt IE 9]-->
    <!-- <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <script type="text/javascript" src="js/html5shiv.min.js"></script>
    
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <script type="text/javascript" src="js/respond.min.js"></script>
    <!--[endif]-->
</head>

<body class="home" >

    <!-- Main contenuti inizia -->
    <header id="mainheader" class="navbar-fixed-top">

        <!-- Fascia Governo & Servizi -->
        <!-- Fascia Governo & Servizi -->
        <section class="preheader" style="    height: 48px;">
            <div class="container">
                <div class="row clearfix">

                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 governo">
                        <a title="Sito della Regione Toscana" href="http://www.regione.toscana.it/" target="_blank">
                            <img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" style="height:32px;margin-bottom:5px">
                        </a>
                        <small  class="pull-right"><img src="images/user.png" alt=""><span th:text="${utente.username}" style="color:#e5eff9"><i class="fas fa-user"></i> Eduardo Accetta</span></small>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 accedi" style="padding:0px">
                        <form th:action="@{/logout}" method="post">
                            <button style="font-size: 16px;font-color: #fff;  height: 48px;  background-color: #06c; border:none" type="submit" value="Sign Out" > ◄ LOG OUT</button>
                        </form>

                    </div>
                </div>
            </div>
        </section>
        <!-- Fascia Governo & Servizi -->
        <!-- Button Menu -->
        <button data-target=".sidebar-offcanvas" data-toggle="offcanvas" class="navbar-toggle menu-btn pull-left">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Logo e titolo -->
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo logo-wrapper">
                    <div class="logo-img"><a href="login" title="OSP - Regione Toscana"><img src="images/logo.svg" alt="gestione osservatorio scolastico" /></a></div>
                    <div class="logo-text">
                        <h1><a href="login" title="Osservatorio regionale educazione e istruzione">Sistema Informativo Anagrafe Regionale degli Studenti</a></h1>
                        <span>Osservatorio regionale educazione e istruzione</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo & Ricerca -->
        <section class="fascia-rosso hidden-xs" id="sub_nav" th:switch="${utente.ruolo}">
            <h3  class="sr-only">Submenu</h3>
            <ul th:case="ADMIN" class="sub_nav clearfix" >
                <li><a href="pdf/Manuale_invio_archivio.pdf" title="Manuale" download>Manuale</a></li>
                <li><a href="lista_file" title="Vai alla pagina: lista archivi">Lista Archivi</a></li>

            </ul>
            <ul th:case="*" class="sub_nav clearfix" >
                <li><a href="pdf/Manuale_invio_archivio.pdf" title="Manuale" download>Manuale</a></li>
                <li><a href="carica_file" title="Vai alla pagina: Invio Archivio">Invio Archivio</a></li>
                <li><a href="lista_file" title="Vai alla pagina: lista archivi">Lista Archivi</a></li>
            </ul>
        </section>
    </header>

    <!-- Nav bar -->
    <nav id="navbar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 nav sidebar-offcanvas">
        <img src="images/x-rosso.svg" id="chiudimenu" alt="chiudi il menu" />
        <div class="scrolling-nav-wrapper" th:switch="${utente.ruolo}" >
            <ul th:case="ADMIN" class="nav nav-stacked" id="mainmenu">
                <li class="list-group-item"><a href="index">Homepage</a></li>
                <li class="list-group-item"><a href="lista_file" title="Vai alla pagina: lista archivi ">Lista Archivi</a></li>
                <li class="list-group-item"><a href="account" title="Vai alla pagina: account">Account</a></li>
                <li class="list-group-item"><a href="lista_account" title="Vai alla pagina: lista account">Lista Account</a></li>
                <li class="list-group-item"><a href="pdf/Manuale_invio_archivio.pdf" title="scarica manuale" download="">Manuale</a></li>
                <li class="list-group-item">
                    <a class="accordian-toggle collapsed" href="#" data-toggle="collapse" data-parent="#navbar" data-target="#controlli">Controlli</a>
                    <ul class="sublinks collapse" id="controlli">
                        <li><a href="lista_istituzioni_non_accreditate" title="">Lista Istituzioni non accreditate</a></li>
                        <li><a href="lista_istituzioni_no_archivi" title="">Lista Archivi non inviati</a></li>
                    </ul>
                </li>
            </ul>
            <ul th:case="REGISTRATO" class="nav nav-stacked" id="mainmenu">
                <li class="list-group-item"><a href="account" title="Vai alla pagina: account">Account</a></li>
                <li class="list-group-item"><a href="pdf/Manuale_invio_archivio.pdf" title="scarica manuale" download="">Manuale</a></li>
            </ul>
            <ul th:case="*" class="nav nav-stacked" id="mainmenu">
                <li class="list-group-item"><a href="index">Homepage</a></li>
                <li class="list-group-item"><a href="carica_file" title="Vai alla pagina: invio archivio">Invio Archivio</a></li>
                <li class="list-group-item"><a href="lista_file" title="Vai alla pagina: lista archivi ">Lista Archivi</a></li>
                <li class="list-group-item"><a href="account" title="Vai alla pagina: account">Account</a></li>
                <li class="list-group-item"><a href="pdf/Manuale_invio_archivio.pdf" title="scarica manuale" download="">Manuale</a></li>
            </ul>
        </div>
    </nav>

<!-- AVVISI -->
<!--    <div th:switch="${esito}">
        <div th:case="ko" class="Prose Alert Alert&#45;&#45;error Alert&#45;&#45;withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert">
    		<h2 class="u-text-h3">Si è verificato un errore
            </h2>
            <div th:switch="${causa}">
                <p th:case="campi" class="u-text-p">Nessun file allegato. I campi contrassegnati da asterisco (*) sono obbligatori</p>
                <p th:case="ext" class="u-text-p">Il formato del file è errato.</p>
                <p th:case="dim" class="u-text-p">La dimensione dell'allegato è superiore al massimo consentito (10 MB).</p>
            </div>
         </div>-->

        <div id="campi" class="Prose Alert Alert&#45;&#45;error Alert&#45;&#45;withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert" style="display: none">
            <h2 class="u-text-h3">Si è verificato un errore
            </h2>
            <div >
                <p  class="u-text-p">I campi contrassegnati da asterisco (*) sono obbligatori</p>
            </div>
        </div>

        <div id="ext" class="Prose Alert Alert&#45;&#45;error Alert&#45;&#45;withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert" style="display: none">
            <h2 class="u-text-h3">Si è verificato un errore
            </h2>
            <div>
                <p  class="u-text-p">Il formato del file è errato.</p>
            </div>
        </div>

    <div id="dim" class="Prose Alert Alert&#45;&#45;error Alert&#45;&#45;withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom" role="alert" style="display: none">
        <h2 class="u-text-h3">Si è verificato un errore
        </h2>
        <div>
            <p  class="u-text-p">La dimensione dell'allegato è superiore al massimo consentito (10 MB).</p>
        </div>
    </div>


         <div  id="success" class="Prose Alert Alert--success Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert" style="display: none" >
                <h2 class="u-text-h3">
                    Operazione eseguita con successo
                </h2>
                <p class="u-text-p">L'invio dei suoi documenti è andato a buon fine. <br/>
                Può visualizzare la lista dei suoi invii alla pagina <a href="lista_file">lista archivi</a>.</p>
          </div>
    </div>

     <!-- fine AVVISI -->

    <main style="background-color:#eeeeee;">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                    <ul class="breadcrumb" aria-label="breadcrumb navigation" style="background-color:#eeeeee">
                        <li><a href="index">Home</a></li>
                        <li>Invio Archivio</li>
                    </ul>
                </div>

                <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
                    <h3 class="text-center login-title" style="margin:10px auto">
                        Invio Archivio</h3>
                        <center>
                        <small>In questa sezione è possibile inviare gli archivi scolastici in formato .rar, .zip, .xls, xlsx, csv, txt, 7z, .tar e .gz.<br/>
                         Si ricorda che il file deve rispettare il limite di 10 MB.<br/>
                         </small></center>
                         <br/>
                </div>
                <br/>
                <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-1 col-sm-offset-1">


                    <div class="account-wall" style="padding:0px">
                        <form id="data" class="form-inviofile form-inline"   enctype="multipart/form-data">


                            <div id="div-ist"  class="form-group form-istituzione col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                 <label >ISTITUZIONE SCOLASTICA <span aria-hidden="true">*</span>:</label>
                                            <select onchange="mostraGrande()" name="istituzioneCaricata" id="select" class="sel-dynamic sel-haschild form-control" data-validation="[NOTEMPTY]" aria-required="true" style="width:100%">
                                                <option>Seleziona l'istituzione per cui vuoi caricare i file </option>
                                                <option th:each="istituzione : ${utente.istituzioni}" th:value="${istituzione.codice}" th:text="${'['+istituzione.codice + ']' + ' ' + istituzione.denominazione}"></option>
                                            </select>
                                        </div>
                        

                            <div id="grande" > <!-- inizio -->

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Rilevazione *: &nbsp;&nbsp;</label>
                                <select name="tipoRilevazione" id="prelievo" class="form-control">
                                    <option>Seleziona tipo prelievo</option>
                                    <option>INTERMEDIA</option>
                                    <option>FINE ANNO</option>
                                </select>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <label>Anno Scolastico  *: &nbsp;</label>
                                <select name="anno" id="anno"class="form-control" style="width: 200px">
                                    <option>Seleziona anno scolastico</option>
                                    <!--<option>2017-2018</option>
                                    <option>2016-2017</option>-->
                                </select>
                            </div>

                            <div class="caricamento col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label>Tipologia di trasferimento file *: &nbsp;</label>
                                    <select id="unoPiu" name="singoloMultiplo" class="form-control">
                                        <option>Seleziona la tipologia di trasferimento</option>
                                        <option>UNICO FILE</option>
                                        <option>2 O PIU' FILE</option>
                                    </select>
                                </div>
                            </div>

                            <div id="containerForm">

                        </div>
                                <div class="caricamento col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px">
                                        <label>Note aggiuntive: &nbsp;</label>
                                        <textarea maxlength='200' name="note" class="form-control" rows="3" id="note"></textarea>
                                        <br />
                                    </div>
                                </div>

                                <button class="btn btn-lg btn-primary btn-block" type="submit">
                                    INVIA FILE ANAGRAFE
                                </button>
            </div> <!-- fine div -->

                                <span class="clearfix"></span>
                                <br/>
                                <small> I campi contrassegnati da asterisco (*) sono obbligatori</small>
</form>
                    </div>

                </div>

            </div>
        </div>
    <br/> <br/>
    </main>

    <!-- Main contenuti finisce -->
    <section class="fascia-rosso"></section>

    <!-- Footer inizio -->
    <footer>
        <div class="container">

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-img">
                        <!--<img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" /> <br class="visible-xs" />-->
                        <img src="images/logo.svg" alt="Gestione Osservatorio Scolastico">
                        &nbsp;&nbsp;
                        <br class="visible-xs">
                        <span>Osservatorio Regionale <br class="visible-xs"> Educazione e Istruzione</span>
                        <hr>
                        <a href="http://www.regione.toscana.it/-/anagrafe-regionale-degli-studenti" target="_blank" title="Sito della Regione Toscana - Anagrafe regionale studenti" style="color:#fff;font-weight: normal">
                            <span><small>DIREZIONE GENERALE DELLA GIUNTA REGIONALE<br>
                                 <small>- DIREZIONE ISTRUZIONE E FORMAZIONE<br>
                                    <small>- SETTORE EDUCAZIONE E ISTRUZIONE</small>
                                 </small>
                                </small>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <section class="contatti">
                <div class="row clearfix">

                    <div class="col-lg-10 col-md-9 col-sm-9">
                        <br class="visible-xs" />
                        <h4>Assistenza Tecnica <small><br class="visible-xs" />&nbsp;&nbsp;&nbsp;&nbsp; ARS &nbsp;-&nbsp; Anagrafe Regionale Studenti</small></h4>

                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Arezzo - Massa Carrara</h5>
                                                David Priore<br />
                                                tel. +39 334 8589472
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Siena - Grosseto</h5>
                                                Giulio Petrangeli<br />
                                                tel. +39 0577 241819
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Firenze - Prato</h5>
                                                Yari Conti<br />
                                                tel. +39 050 3180024
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Lucca - Pistoia</h5>
                                                Alessandra Tofanelli<br />
                                                tel. +39 050 3180025
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Pisa - Livorno</h5>
                                                Simone Mancini<br />
                                                tel. +39 050 3180023
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                    <br class="visible-xs" />
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                        <h4>Email</h4>

                        <div class="row clearfix">
                            <div class="addressBox ">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <h5>per informazioni:</h5>
                                                dati-studenti@regione.toscana.it<br />
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <section class="postFooter clearfix">
                <ul class="list-inline">
                    <li>Sito sviluppato da &nbsp;<a href="https://www.soluxioni.it/" title="sito sviluppato da soluxioni srl">Soluxioni srl</a></li>
                    <!--<li>&nbsp; | &nbsp;&nbsp;<a href="note_legali.html" title="Note legali">Note legali</a></li>-->
                    <li>&nbsp; | &nbsp;&nbsp;<a href="privacy" target="_blank" title="Privacy Policy">Privacy Policy</a></li>
                </ul>
            </section>
        </div>
    </footer>

    <div class="menu-underlayer" id="overlayer"></div>
    <div id="topcontrol" class="topcontrol" title="Torna su">
        <img class="tornasuimg" alt="Torna su" src="images/torna_su.svg">
    </div>

    <div id="modale_loading" class="modal fade" tabindex="-1" data-width="200"
         style="background-color:transparent;
            border: 1px solid rgba(0, 0, 0, 0);
            -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0);
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0);
            background-clip: padding-box;">
        <img src="images/spinner.gif" style="width:150px;height:auto" />
    </div>

    <script>
      $(window).load(function () {
        $.ajax({
          url :  `https://www.osservatorioscolastico.regione.toscana.it/api/regioni/09` ,
          type : 'GET',
          dataType: 'json',
          success : function(resp) {
            let dropdownCountry = $('#district');
            dropdownCountry.empty();
            $.each(resp, function (key, entry) {
              dropdownCountry.append($('<option></option>').attr('value', key).text(entry));
            });
            orderDDL("#district");
            $("#district").prepend("<option value='' selected='selected'>Seleziona</option>");
          }
        });
        setAS();
      });

/*      $('#district').on('change', function() {
        var selected = $("#district :selected").text();
        $.ajax({
          url :  `https://www.osservatorioscolastico.regione.toscana.it/api/istituzioni/provincia/${selected}` ,
          type : 'GET',
          dataType: 'json',
          success : function(resp) {
            let dropdownCountry = $('#select');
            dropdownCountry.empty();
            $.each(resp, function (key, entry) {
              dropdownCountry.append($('<option></option>').attr('value', key).text( entry+" - "  +key));
            });
            orderDDL("#select");
            $("#select").prepend("<option value='' selected='selected'>Seleziona</option>");
          }
        });

      })*/

      $('#unoPiu').on('change', function() {
        switch (this.value) {
          case "UNICO FILE":
               aggiungiDivSingolo();
               rimuoviDivMultiplo();
                break;
          case "2 O PIU' FILE":
                rimuoviDivSingolo();
                aggiungiDivMultiplo();
                break;
          default:
                rimuoviDivSingolo();
                rimuoviDivMultiplo();
        }
      })

      $("#data").submit(function(e) {
        e.preventDefault();
        $('#success').hide();
        $('#campi').hide();
        $('#ext').hide();
        $('#dim').hide();
        var formData = new FormData(this);
        var ok = false;
        var istituzione = $("#select").val();
        var rilevazione = $("#prelievo").val();
        var anno = $("#anno").val();
        var tipo = $("#unoPiu").val();
        var files = $('input[type^=file]').val();
        if(istituzione != "Seleziona l'istituzione per cui vuoi caricare i file" && rilevazione != null && tipo != null && files != ""){
          ok = true;
        } else {
          $("#modale_loading").modal('hide');
          $('#campi').show();
          window.scrollTo(0, 0);
          return;
        }
        $('#modale_loading').modal({backdrop: 'static', keyboard: false})
        $("#modale_loading").modal('show');
        if(ok) {
          $.ajax({
            url: `https://www.osservatorioscolastico.regione.toscana.it/carica_file`,
            type: 'POST',
            data: formData,
            success: function (data) {
              var esito;
              $.each(data, function (key, entry) {
                esito = entry;
              });
              $("#modale_loading").modal('hide');
              switch (esito) {
                case "ok":
                  $('#success').show();
                  window.scrollTo(0, 0);
                  $("#select").val($("#select option:first").val());
                  $("#prelievo").val($("#prelievo option:first").val());
                  $("#anno").val($("#anno option:first").val());
                  $("#unoPiu").val($("#unoPiu option:first").val());
                  $('input[type^=file]').val("");
                  $('#note').val('');
                  $("#district").val($("#district option:first").val());
                  rimuoviDivSingolo();
                  rimuoviDivMultiplo();
                  id="div-ist"
                  break;
                case "campi":
                  $('#campi').show();
                  window.scrollTo(0, 0);
                  break;
                case "ext":
                  $('#ext').show();
                  window.scrollTo(0, 0);
                  break;
              }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              $("#modale_loading").modal('hide');
              $('#dim').show();
              window.scrollTo(0, 0);
            },
            cache: false,
            contentType: false,
            processData: false
          });
        }
        e.preventDefault();
      });

    function mostraIstituzione () {
      var selected= $("#district :selected").text();
      if(selected != "Seleziona"){
        $("#div-ist").show();
      }
      else {
        $("#div-ist").hide();
        $("#grande").hide();
      }
    }

      function mostraGrande() {
        var selected= $("#div-ist :selected").text();
        if(selected != "Seleziona"){
          $("#grande").show();
        }
        else {
          $("#grande").hide();
        }
      }

      function orderDDL(id) {
        $(`${id}`).html($(`${id} option`).sort(function(x, y) {
          return $(x).text().toUpperCase() < $(y).text().toUpperCase() ? -1 : 1;
        }));
        $(`${id}`).get(0).selectedIndex = 0;
      }

      function rimuoviDivSingolo(){
        if ($('#unico').length != 0){
          $('#unico').remove();
        }
      }

      function rimuoviDivMultiplo(){
        if ($('#multiplo').length != 0){
          $('#multiplo').remove();
        }
      }

      function aggiungiDivSingolo(){
        $('#containerForm').append("<div id=\"unico\"  class=\"col-lg-12 col-md-12 col-sm-12 col-xs-12\" >\n" +
          "                                <div class=\"form-group col-lg-4 col-md-4 col-sm-6 col-xs-12\">\n" +
          "                                </div>\n" +
          "\n" +
          "                                    <div   class=\"form-group col-lg-4 col-md-4 col-sm-6 col-xs-12\">\n" +
          "                                        <label>Caricamento unico file *:</label>\n" +
          "                                        <br />\n" +
          "                                        <input name=\"files\" type=\"file\" id=\"\">\n" +
          "                                    </div>\n" +
          "                            </div>");


      }

      function aggiungiDivMultiplo(){
        $('#containerForm').append("<div id=\"multiplo\"  class=\"col-lg-12 col-md-12 col-sm-12 col-xs-12\">\n" +
          "                                <label class=\"col-lg-12 col-md-12 col-sm-12 col-xs-12\"><center>Caricamento file multipli *:</center></label>\n" +
          "\n" +
          "                                <div class=\"form-group col-lg-4 col-md-4 col-sm-6 col-xs-12\">\n" +
          "                                    <label><small>file n.1</small></label>\n" +
          "                                    <input type=\"file\" name=\"files\" id=\"\">\n" +
          "                                </div>\n" +
          "                                <div class=\"form-group col-lg-4 col-md-4 col-sm-6 col-xs-12\">\n" +
          "                                    <label><small>file n.2</small></label>\n" +
          "                                    <input type=\"file\" name=\"files\" id=\"\">\n" +
          "                                </div>\n" +
          "                                <div class=\"form-group col-lg-4 col-md-4 col-sm-6 col-xs-12\">\n" +
          "                                    <label><small>file n.3</small></label>\n" +
          "                                    <input type=\"file\" name=\"files\" id=\"\">\n" +
          "                                </div>\n" +
          "                                <div class=\"form-group col-lg-4 col-md-4 col-sm-6 col-xs-12\">\n" +
          "                                    <label><small>file n.4</small></label>\n" +
          "                                    <input type=\"file\" name=\"files\" id=\"\">\n" +
          "                                </div>\n" +
          "                                <div class=\"form-group col-lg-4 col-md-4 col-sm-6 col-xs-12\">\n" +
          "                                    <label><small>file n.5</small></label>\n" +
          "                                    <input type=\"file\" name=\"files\" id=\"\">\n" +
          "                                </div>\n" +
          "                                <div class=\"form-group col-lg-4 col-md-4 col-sm-6 col-xs-12\">\n" +
          "                                    <label><small>file n.6</small></label>\n" +
          "                                    <input type=\"file\" name=\"files\" id=\"\">\n" +
          "                                </div>\n" +
          "                                <div class=\"form-group col-lg-4 col-md-4 col-sm-6 col-xs-12\">\n" +
          "                                    <label><small>file n.7</small></label>\n" +
          "                                    <input type=\"file\" name=\"files\" id=\"\">\n" +
          "                                </div>\n" +
          "                                <div class=\"form-group col-lg-4 col-md-4 col-sm-6 col-xs-12\">\n" +
          "                                    <label><small>file n.8</small></label>\n" +
          "                                    <input type=\"file\" name=\"files\" id=\"\">\n" +
          "                                </div>\n" +
          "\n" +
          "                            </div>");
      }

      function setAS(){
        var calendar = new Date();
        var option1 = ''+(calendar.getFullYear()-1)+"-"+(calendar.getFullYear());

        $('#anno').append($('<option>', {
          value: option1,
          text: option1
        }));
      }
    </script>
</body>



</html>
