﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Osservatorio Regionale Educazione Istruzione</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta id="viewport" name="viewport" content="initial-scale=1.0, width=device-width" />

    <link rel="icon" type="image/png" href="favicons/favicon.ico" sizes="16x16">

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/boostrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.cookiesdirective.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/masonry.min.js"></script>

    <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>


    <!-- fontawesome -->
    <link rel="stylesheet" href="fonts/fontawesome/css/css/fontawesome-all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- css aggiunto -->
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/customizzazione.css">


    <script type="text/javascript" src="js/scripts.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <!--[endif]-->

</head>
<body class="home">

    <!-- Main contenuti inizia -->
    <header id="mainheader" class="navbar-fixed-top">

        <!-- Fascia Governo & Servizi -->
        <section class="preheader" style="    height: 48px;">
            <div class="container">
                <div class="row clearfix">

                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 governo">
                        <a title="Sito della Regione Toscana" href="http://www.regione.toscana.it/" target="_blank">
                            <img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" style="height:32px;margin-bottom:5px">
                        </a>
                        <small  class="pull-right"><img src="images/user.png" alt=""><span th:text="${utente.username}" style="color:#e5eff9"><i class="fas fa-user"></i> Eduardo Accetta</span></small>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 accedi" style="padding:0px">
                        <form th:action="@{/logout}" method="post">
                            <button style="font-size: 16px;font-color: #fff;  height: 48px;  background-color: #06c; border:none" type="submit" value="Sign Out" > ◄ LOG OUT</button>
                        </form>

                    </div>
                </div>
            </div>
        </section>
        <!-- Fascia Governo & Servizi -->
        <!-- Button Menu -->
        <button data-target=".sidebar-offcanvas" data-toggle="offcanvas" class="navbar-toggle menu-btn pull-left">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Logo e titolo -->
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo logo-wrapper">
                    <div class="logo-img"><a href="login" title="OSP - Regione Toscana"><img src="images/logo.svg" alt="gestione osservatorio scolastico" /></a></div>
                    <div class="logo-text">
                        <h1><a href="login" title="Osservatorio regionale educazione e istruzione">Sistema Informativo Anagrafe Regionale degli Studenti</a></h1>
                        <span>Osservatorio regionale educazione e istruzione</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo & Ricerca -->
        <section th:switch="${utente.ruolo}" class="fascia-rosso hidden-xs" id="sub_nav">
            <h3 class="sr-only">Submenu</h3>
            <ul th:case="ADMIN" class="sub_nav clearfix">
                <li><a href="pdf/Manuale_invio_archivio.pdf" title="Manuale" download>Manuale</a></li>
                <li ><a th:href="@{/lista_account}" title="Vai alla pagina: lista account">Lista Account</a></li>
                <li><a th:href="@{/lista_file}" title="Vai alla pagina: lista file">Lista Archivi</a></li>

            </ul>
            <ul th:case="*" class="sub_nav clearfix">
                <li><a href="pdf/Manuale_invio_archivio.pdf" title="Manuale" download>Manuale</a></li>
                <li><a th:href="@{/carica_file}" title="Vai alla pagina: carica file ">Invio Archivio</a></li>
                <li><a th:href="@{/lista_file}" title="Vai alla pagina: lista file">Lista Archivi</a></li>
            </ul>
        </section>
    </header>

    <!-- Nav bar -->
    <nav id="navbar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 nav sidebar-offcanvas">
        <img src="images/x-rosso.svg" id="chiudimenu" alt="chiudi il menu" />
        <div class="scrolling-nav-wrapper" th:switch="${utente.ruolo}">
            <ul th:case="ADMIN" class="nav nav-stacked" id="mainmenu">
                <li class="list-group-item"><a th:href="@{/index}">Homepage</a></li>

                <li class="list-group-item"><a th:href="@{/lista_file}" title="Vai alla pagina: lista file ">Lista Archivi</a></li>
                <li class="list-group-item"><a th:href="@{/account}" title="Vai alla pagina: account">Account</a></li>
                <li class="list-group-item"><a th:href="@{/lista_account}" title="Vai alla pagina: lista account">Lista Account</a></li>
                <li class="list-group-item"><a href="pdf/Manuale_invio_archivio.pdf" title="scarica manuale" download="">Manuale</a></li>
                <li class="list-group-item">
                    <a class="accordian-toggle collapsed" href="#" data-toggle="collapse" data-parent="#navbar" data-target="#controlli">Controlli</a>
                    <ul class="sublinks collapse" id="controlli">
                        <li><a href="lista_istituzioni_non_accreditate" title="">Lista Istituzioni non accreditate</a></li>
                        <li><a href="lista_istituzioni_no_archivi" title="">Lista Archivi non inviati</a></li>
                    </ul>
                </li>
            </ul>
            <ul th:case="REGISTRATO" class="nav nav-stacked" id="mainmenu">
                <li class="list-group-item"><a th:href="@{/account}" title="Vai alla pagina: account">Account</a></li>
                <li class="list-group-item"><a href="pdf/Manuale_invio_archivio.pdf" title="scarica manuale" download="">Manuale</a></li>
            </ul>
            <ul th:case="*" class="nav nav-stacked" id="mainmenu">
                <li class="list-group-item"><a th:href="@{/index}">Homepage</a></li>
                <li class="list-group-item"><a th:href="@{/carica_file}" title="Vai alla pagina: carica file ">Invio Archivio</a></li>
                <li class="list-group-item"><a th:href="@{/lista_file}" title="Vai alla pagina: lista file ">Lista Archivi</a></li>
                <li class="list-group-item"><a th:href="@{/account}" title="Vai alla pagina: account">Account</a></li>
                <li class="list-group-item"><a href="pdf/Manuale_invio_archivio.pdf" title="scarica manuale" download="">Manuale</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container">
            <div class="row clearfix">
                <ul class="breadcrumb" aria-label="breadcrumb navigation">
                    <li><a href="index">Home</a></li>
                    <!--<li><a href="servizi-aree.html">Aree tematiche</a></li>-->
                </ul>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h3>Invio Archivi</h3>
                </div>
            </div>

            <div class="row clearfix">

                <div class="info_archivi col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <img alt="" src="images/business-64px-outline_chart-bar-33.svg">
                    </div>
                    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
                        &nbsp;&nbsp;&nbsp;&nbsp;Totale file inviati <br /> <br class="visible-md">
                        &nbsp;&nbsp;&nbsp;&nbsp;<b th:text="${totali}">11</b> file
                    </div>
                </div>


                <div class="info_archivi2 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <img alt="" src="images/business-64px-outline_chart-bar-33.svg">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <p>
                            <u>INVIO INTERMEDIO</u>
                            <br class="visible-md">- <!--<small>A.S. 2017/18</small>-->
                        </p>
                        <p>
                            <b th:text="${intermedi}"></b> file
                        </p>
                    </div>
                </div>

                <div class="info_archivi2 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <img alt="" src="images/business-64px-outline_chart-bar-33.svg">
                    </div>
                    <div class=" col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <p>
                            <u>INVIO FINE</u>
                            <br class="visible-md">- <!--<small>A.S. 2017/18</small>-->
                        </p>
                        <p>
                            <b th:text="${fine}"></b> file
                        </p>
                    </div>
                </div>


            </div>
        </div>

        <br /> <br />

        <div class="container" id="primo-piano">

            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h3>Comunicazioni</h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                </div>
            </div>
            <div class="row clearfix" id="tilescontainer" style="position: relative; height: 1188.59px;">

                <!-- com 1-->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile" style="position: absolute; left: 0px; top: 0px;">
                    <article class="rounded-box ">
                        <div class="content">
                            <div class="h6"><a href="#" title="Attività produttive">Documenti</a></div>
                            <time class="small">31 Agosto 2018</time>
                            <h4><a href="pdf/Manuale_invio_archivio.pdf" target="_blank" title="titolo">Manuale per l'invio e l'esportazione dei dati.</a></h4>

                        </div>
                    </article>
                </div>

                <!-- com 2 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile" style="position: absolute; left: 0px; top: 0px;">
                    <article class="rounded-box ">
                        <div class="content">
                            <div class="h6"><a href="#" title="Attività produttive">Documenti</a></div>
                            <time class="small">31 Agosto 2018</time>
                            <h4><a href="pdf/RT_Richiesta_dati_17_18.pdf" target="_blank" title="titolo">Regione Toscana - Richiesta dati 2017/18</a></h4>

                        </div>
                    </article>
                </div>

                <!-- com 3 -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 tile" style="position: absolute; left: 0px; top: 0px;">
                    <article class="rounded-box ">
                        <div class="content">
                            <div class="h6"><a href="#" title="Attività produttive">Documenti</a></div>
                            <time class="small">31 Agosto 2018</time>

                            <h4><a href="pdf/Informativa trasfanagr2018.pdf" target="_blank" title="titolo">Informativa Privacy - Reg. (UE) 2016/679</a></h4>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <!-- margine -->
        <section>
            <h3 class="sr-only"></h3>
        </section>

    </main>
    <!-- Main contenuti finisce -->

    <section class="fascia-rosso"></section>

    <!-- Footer inizio -->
    <footer>
        <div class="container">

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-img">
                        <!--<img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" /> <br class="visible-xs" />-->
                        <img src="images/logo.svg" alt="Gestione Osservatorio Scolastico">
                        &nbsp;&nbsp;
                        <br class="visible-xs">
                        <span>Osservatorio Regionale <br class="visible-xs"> Educazione e Istruzione</span>
                        <hr>
                        <a href="http://www.regione.toscana.it/-/anagrafe-regionale-degli-studenti" target="_blank" title="Sito della Regione Toscana - Anagrafe regionale studenti" style="color:#fff;font-weight: normal">
                            <span><small>DIREZIONE GENERALE DELLA GIUNTA REGIONALE<br>
                                 <small>- DIREZIONE ISTRUZIONE E FORMAZIONE<br>
                                    <small>- SETTORE EDUCAZIONE E ISTRUZIONE</small>
                                 </small>
                                </small>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <section class="contatti">
                <div class="row clearfix">

                    <div class="col-lg-10 col-md-9 col-sm-9">
                        <br class="visible-xs" />
                        <h4>Assistenza Tecnica <small><br class="visible-xs" />&nbsp;&nbsp;&nbsp;&nbsp; ARS &nbsp;-&nbsp; Anagrafe Regionale Studenti</small></h4>

                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Arezzo - Massa Carrara</h5>
                                                David Priore<br />
                                                tel. +39 334 8589472
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Siena - Grosseto</h5>
                                                Giulio Petrangeli<br />
                                                tel. +39 0577 241819
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Firenze - Prato</h5>
                                                Yari Conti<br />
                                                tel. +39 050 3180024
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Lucca - Pistoia</h5>
                                                Alessandra Tofanelli<br />
                                                tel. +39 050 3180025
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Pisa - Livorno</h5>
                                                Simone Mancini<br />
                                                tel. +39 050 3180023
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                    <br class="visible-xs" />
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                        <h4>Email</h4>

                        <div class="row clearfix">
                            <div class="addressBox ">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <h5>per informazioni:</h5>
                                                dati-studenti@regione.toscana.it<br />
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <section class="postFooter clearfix">
                <ul class="list-inline">
                    <li>Sito sviluppato da &nbsp;<a href="https://www.soluxioni.it/" target="_blank"  title="sito sviluppato da soluxioni srl">Soluxioni srl</a></li>
                    <!--<li>&nbsp; | &nbsp;&nbsp;<a href="note_legali" title="Note legali">Note legali</a></li>-->
                    <li>&nbsp; | &nbsp;&nbsp;<a href="privacy" target="_blank" title="Privacy Policy">Privacy Policy</a></li>
                </ul>
            </section>
        </div>
    </footer>


    <div class="menu-underlayer" id="overlayer"></div>
    <div id="topcontrol" class="topcontrol" title="Torna su">
        <img class="tornasuimg" alt="Torna su" src="images/torna_su.svg">
    </div>

</body>
</html>
