﻿<!DOCTYPE html>
<html xml:lang="it" lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Osservatorio Regionale Educazione Istruzione</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta id="viewport" name="viewport" content="initial-scale=1.0, width=device-width" />

    <link rel="icon" type="image/png" href="favicons/favicon.ico" sizes="16x16">

<!--02_07 -->
    <!--<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">-->
    <link href="css/titillium_css.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/boostrap.min.js"></script>

    <script type="text/javascript" src="js/jquery.cookiesdirective.js"></script>


    <script type="text/javascript" src="js/slick.min.js"></script>
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/masonry.min.js"></script>

    <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>


    <!-- fontawesome -->
    <link rel="stylesheet" href="fonts/fontawesome/css/css/fontawesome-all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- css aggiunto -->
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="css/customizzazione.css">


    <link rel="stylesheet" href="css/buttons.dataTables.min.css">



    <!--02_07 -->
    <link rel="stylesheet" href="css/alert_index.css">

    <script type="text/javascript" src="js/scripts.js"></script>

<!--02_07 --> 
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    
    <!--[if lt IE 9]-->
    <!-- <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <script type="text/javascript" src="js/html5shiv.min.js"></script>
    
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <script type="text/javascript" src="js/respond.min.js"></script>
    <!--[endif]-->


<!-- PERSONALIZZAZIONE PER PAGINA LISTA_FILE-->

    <style>
        div.dataTables_wrapper {
            width: 98%;
            margin: 0 auto;
        }

        #cookiesdirective {
            display: none !important
        }
    </style>




    <script src="js/dataTables.buttons.min.js"></script>
    <script src="js/buttons.flash.min.js"></script>
    <script src="js/jszip.min.js"></script>
    <script src="js/pdfmake.min.js"></script>
    <script src="js/vfs_fonts.js"></script>
    <script src="js/buttons.html5.min.js"></script>
    <script src="js/buttons.print.min.js"></script>


</head>
    <body class="home">

        <!-- Main contenuti inizia -->
        <header id="mainheader" class="navbar-fixed-top">

            <!-- Fascia Governo & Servizi -->
            <!-- Fascia Governo & Servizi -->
            <section class="preheader" style="    height: 48px;">
                <div class="container">
                    <div class="row clearfix">

                        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 governo">
                            <a title="Sito della Regione Toscana" href="http://www.regione.toscana.it/" target="_blank">
                                <img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" style="height:32px;margin-bottom:5px">
                            </a>
                            <small  class="pull-right"><img src="images/user.png" alt=""><span th:text="${utente.username}" style="color:#e5eff9"><i class="fas fa-user"></i> Eduardo Accetta</span></small>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 accedi" style="padding:0px">
                            <form th:action="@{/logout}" method="post">
                                <button style="font-size: 16px;font-color: #fff;  height: 48px;  background-color: #06c; border:none" type="submit" value="Sign Out" > ◄ LOG OUT</button>
                            </form>

                        </div>
                    </div>
                </div>
            </section>
            <!-- Fascia Governo & Servizi -->
            <!-- Button Menu -->
            <button data-target=".sidebar-offcanvas" data-toggle="offcanvas" class="navbar-toggle menu-btn pull-left">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Logo e titolo -->
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo logo-wrapper">
                        <div class="logo-img"><a href="login" title="OSP - Regione Toscana"><img src="images/logo.svg" alt="gestione osservatorio scolastico" /></a></div>
                        <div class="logo-text">
                            <h1><a href="login" title="Osservatorio regionale educazione e istruzione">Sistema Informativo Anagrafe Regionale degli Studenti</a></h1>
                            <span>Osservatorio regionale educazione e istruzione</span>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Logo & Ricerca -->
            <section class="fascia-rosso hidden-xs" id="sub_nav">
                <h3 class="sr-only">Submenu</h3>
                <ul class="sub_nav clearfix">
                    <li><a href="pdf/Manuale_invio_archivio.pdf" title="Manuale" download>Manuale</a></li>

                    <li ><a href="lista_account" title="Vai alla pagina: lista account">Lista Account</a></li>
                    <li><a href="lista_file" title="Vai alla pagina: lista archivi">Lista Archivi</a></li>

                </ul>
            </section>
        </header>


        <!-- Nav bar -->
        <nav id="navbar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 nav sidebar-offcanvas">
            <img src="images/x-rosso.svg" id="chiudimenu" alt="chiudi il menu" />
            <div class="scrolling-nav-wrapper">
                <ul class="nav nav-stacked" id="mainmenu">
                    <li class="list-group-item"><a href="index">Homepage</a></li>
                    <li class="list-group-item"><a href="lista_file" title="Vai alla pagina: lista file ">Lista Archivi</a></li>
                    <li class="list-group-item"><a href="account" title="Vai alla pagina: account ">Account</a></li>
                    <li class="list-group-item"><a href="lista_account" title="Vai alla pagina: lista account">Lista Account</a></li>
                    <li class="list-group-item"><a href="pdf/Manuale_invio_archivio.pdf" title="scarica manuale" download="">Manuale</a></li>
                    <li class="list-group-item">
                        <a class="accordian-toggle collapsed" href="#" data-toggle="collapse" data-parent="#navbar" data-target="#controlli">Controlli</a>
                        <ul class="sublinks collapse" id="controlli">
                            <li><a href="lista_istituzioni_non_accreditate" title="">Lista Istituzioni non accreditate</a></li>
                            <li><a href="lista_istituzioni_no_archivi" title="">Lista Archivi non inviati</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>


         <main style="border-top:5px solid #eee">
             <div class="container" id="primo-piano">
                 <ul class="breadcrumb" aria-label="breadcrumb navigation">
                     <li><a href="index">Home</a></li>
                     <li><a href="#">lista Archivi non inviati</a></li>
                 </ul>

                 <div class="row clearfix">
                     <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                         <h3>Lista Archivi non inviati</h3>
                     </div>
                 </div>

                 <div class="row clearfix">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <div class="table-scrollable" >
                             <table id="tab_lista_account" class="table table-striped table-bordered table-hover dataTable no-footer">
                                 <!-- class="display nowrap" -->
                                 <thead>
                                     <tr>
                                         <th>N</th>
                                         <th>Tipologia</th>
                                         <th>Codice</th>
                                         <th>Istituzione Scolastica</th>
                                         <th>Comune</th>
                                         <th>Provincia</th>
                                         <th>Mail</th>
                                     </tr>
                                 </thead>
                                 <tbody >
                                     <tr th:each="istituzione : ${istituzioni}" >
                                                 <td th:text="${istituzione.id}"></td>
                                                 <td th:text="${istituzione.descrizioneTipologiaGradoIstruzione}"></td>
                                                 <td th:text="${istituzione.codice}"></td>
                                                 <td th:text="${istituzione.denominazione}"></td>
                                                 <td th:text="${istituzione.nomeComune}"></td>
                                                 <td th:text="${istituzione.provincia}"></td>
                                                 <td th:text="${istituzione.email}"></td>
                                     </tr>
                                 </tbody>
                             </table>
                         </div>

                     </div>
                 </div>

                 <br />
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 legenda">
                     <ul>
                         <li><b>&nbsp;&nbsp;Legenda &nbsp;</b> </li>
                         <li> <img src="images/icone/documento_si.png" alt="documento presente" />&nbsp;= documento presente</li>
                         <li> <img src="images/icone/documento.png" alt="documento non presente" />&nbsp;= documento non presente </li>
                         <li> <img src="images/icone/del_documento.png" alt="elimina documento" style="width:18px;height:18px" />&nbsp;= elimina documento</li>
                         <li> <img src="images/icone/mail.png" alt="invia email" />&nbsp;= invia email</li>
                         <li> <img src="images/icone/abilita.png" alt="abilitato" />&nbsp;= abilitato</li>
                         <li> <img src="images/icone/abilita_no.png" alt=" non abilitato" />&nbsp;= non abilitato </li>
                         <li> <img src="images/icone/elimina.png" alt="elimina account" />&nbsp;= elimina account</li>
                     </ul>

                 </div>
             </div>
             <br />
         </main>


        <section class="fascia-rosso"></section>

      <!-- Footer inizio -->
    <footer>
        <div class="container">

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-img">
                        <!--<img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" /> <br class="visible-xs" />-->
                        <img src="images/logo.svg" alt="Gestione Osservatorio Scolastico">
                        &nbsp;&nbsp;
                        <br class="visible-xs">
                        <span>Osservatorio Regionale <br class="visible-xs"> Educazione e Istruzione</span>
                        <hr>
                        <a href="http://www.regione.toscana.it/-/anagrafe-regionale-degli-studenti" target="_blank" title="Sito della Regione Toscana - Anagrafe regionale studenti" style="color:#fff;font-weight: normal">
                            <span><small>DIREZIONE GENERALE DELLA GIUNTA REGIONALE<br>
                                 <small>- DIREZIONE ISTRUZIONE E FORMAZIONE<br>
                                    <small>- SETTORE EDUCAZIONE E ISTRUZIONE</small>
                                 </small>
                                </small>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <section class="contatti">
                <div class="row clearfix">

                    <div class="col-lg-10 col-md-9 col-sm-9">
                        <br class="visible-xs" />
                        <h4>Assistenza Tecnica <small><br class="visible-xs" />&nbsp;&nbsp;&nbsp;&nbsp; ARS &nbsp;-&nbsp; Anagrafe Regionale Studenti</small></h4>

                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Arezzo - Massa Carrara</h5>
                                                David Priore<br />
                                                tel. +39 334 8589472
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Siena - Grosseto</h5>
                                                Giulio Petrangeli<br />
                                                tel. +39 0577 241819
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Firenze - Prato</h5>
                                                Yari Conti<br />
                                                tel. +39 050 3180024
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Lucca - Pistoia</h5>
                                                Alessandra Tofanelli<br />
                                                tel. +39 050 3180025
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Pisa - Livorno</h5>
                                                Simone Mancini<br />
                                                tel. +39 050 3180023
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                    <br class="visible-xs" />
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                        <h4>Email</h4>

                        <div class="row clearfix">
                            <div class="addressBox ">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <h5>per informazioni:</h5>
                                                dati-studenti@regione.toscana.it<br />
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <section class="postFooter clearfix">
                <ul class="list-inline">
                    <li>Sito sviluppato da &nbsp;<a href="https://www.soluxioni.it/" target="_blank"  title="sito sviluppato da soluxioni srl">Soluxioni srl</a></li>
                    <!--<li>&nbsp; | &nbsp;&nbsp;<a href="note_legali.html" title="Note legali">Note legali</a></li>-->
                    <li>&nbsp; | &nbsp;&nbsp;<a href="privacy" target="_blank" title="Privacy Policy">Privacy Policy</a></li>
                </ul>
            </section>
        </div>
    </footer>


        <div class="menu-underlayer" id="overlayer"></div>
        <div id="topcontrol" class="topcontrol" title="Torna su">
            <img class="tornasuimg" alt="Torna su" src="images/torna_su.svg">
        </div>


        <script>
        function sendEmail(user){
          var urlMail = user.getAttribute("href");
          window.open(urlMail ,null,
            "height=800,width=800,status=yes,toolbar=no,menubar=no,location=no");
        }

        function deleteUser(user){
          if (confirm('Sei sicuro di voler eliminare questo utente?')) {
            var abilitato = $('#enabledSiNo').text();
            var caricamentiPresenti = $('#caricamentiSiNo').text();
            if(!(abilitato == 'ABILITATO' && caricamentiPresenti == 'true')) {
                var urlDelete = user.getAttribute("href");
                $.ajax({
                  //The URL to process the request
                  url :  `https://www.osservatorioscolastico.regione.toscana.it/${urlDelete}` ,
                  //The type of request
                  //Can be 'GET' or 'POST'
                  type : 'GET',
                  async:false,
                  dataType: 'json',
                  success : function(resp) {
                    alert("Utente eliminato con successo");
                  }
                });
                window.location.reload();
              } else {
                alert("Attenzione! Non e' possibile eliminare un utente abilitato e/o con archivi scolastici caricati a sistema. Per poterlo cancellare elimina i suoi archivi e successivamente disabilitalo.")
              }
          } else {

          }
        }

       function deleteDocuments(user){
         if (confirm('Sei sicuro di voler eliminare i documenti di questo utente?')) {
           var urlDelete = user.getAttribute("href");
           $.ajax({
             url :  `https://www.osservatorioscolastico.regione.toscana.it/${urlDelete}` ,
             type : 'GET',
             async:false,
             dataType: 'json',
             success : function(resp) {
               alert("Documenti eliminati con successo");
             }
           });

           window.location.reload();
         } else {
           // Do nothing!
         }
       }

       function enableUser(user){
          var ok = user.name.toString();
         if (ok == 'true') {
           var urlEnable = user.getAttribute("href");
           $.ajax({
             url :  `https://www.osservatorioscolastico.regione.toscana.it/${urlEnable}` ,
             type : 'GET',
             async:false,
             dataType: 'json',
             success : function(resp) {

             }
           });
           window.location.reload();
         } else {
           alert("Attenzione! L'utente non puo' essere abilitato perche' privo della documentazione.")
         }
       }
        </script>
        <script type="text/javascript" class="init">
          $(document).ready(function () {
            $('#tab_lista_account').DataTable({
              "language": { "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Italian.json" },
              dom: 'lBfrtip',
              buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
              ],
              "lengthMenu": [ [25, 50, -1], [25, 50, "Tutti"] ],
            });
          });
        </script>
    </body>
	</html>