﻿<!DOCTYPE html>
    <html xml:lang="it" lang="it" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Osservatorio Regionale Educazione Istruzione</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta id="viewport" name="viewport" content="initial-scale=1.0, width=device-width" />

        <link rel="icon" type="image/png" href="favicons/favicon.ico" sizes="16x16">
        <!--02_07 -->
        <!--<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">-->
        <link href="css/titillium_css.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="js/boostrap.min.js"></script>
        
        <!-- SCRIPT COOKIE DA TOGLIERE MA ATTENZIONE AI BUTTON DALLA DATATABLE -->
         <script type="text/javascript" src="js/jquery.cookiesdirective.js"></script>

        <script type="text/javascript" src="js/slick.min.js"></script>
        <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="js/masonry.min.js"></script>

        <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>


        <!-- fontawesome -->
        <link rel="stylesheet" href="fonts/fontawesome/css/css/fontawesome-all.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <!-- css aggiunto -->
        <link rel="stylesheet" href="css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="css/customizzazione.css">

        <link rel="stylesheet" href="css/buttons.dataTables.min.css">

        <!--02_07 -->
        <link rel="stylesheet" href="css/alert_index.css">

        <script type="text/javascript" src="js/scripts.js"></script>

        <!--02_07 -->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]-->
        <!-- <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
        <script type="text/javascript" src="js/html5shiv.min.js"></script>

        <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
        <script type="text/javascript" src="js/respond.min.js"></script>
        <!--[endif]-->
        <!-- ----------------- PERSONALIZZAZIONE PER PAGINA LISTA_FILE ------------------- -->

        <link rel="stylesheet" href="css/buttons.dataTables.min.css">

        <style>
            div.dataTables_wrapper {
                width: 98%;
                margin: 0 auto;
            }
        </style>

        <script type="text/javascript" class="init">
            $(document).ready(function () {
                $('#tab_lista_file').DataTable({
                    /*"scrollX": true,*/
                    "language": { "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Italian.json" },
                    /*quando si pubblica si deve mettere l'url del file salvato su server*/
                    "autoWidth": true,
                    "columnDefs": [{ "width": "40px", "targets": 1 }, { "width": "180px", "targets": 7 }, { "width": "150px", "targets": 8 }],

                    dom: 'lBfrtip',
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5'
                    ],
                  "lengthMenu": [ [25, 50, -1], [25, 50, "Tutti"] ],

                });
            });
        </script>


        <script src="js/dataTables.buttons.min.js"></script>
        <script src="js/buttons.flash.min.js"></script>
        <script src="js/jszip.min.js"></script>
        <script src="js/pdfmake.min.js"></script>
        <script src="js/vfs_fonts.js"></script>
        <script src="js/buttons.html5.min.js"></script>
        <script src="js/buttons.print.min.js"></script>


    </head>
<body class="home">

    <!-- Main contenuti inizia -->
    <header id="mainheader" class="navbar-fixed-top">

        <!-- Fascia Governo & Servizi -->
        <!-- Fascia Governo & Servizi -->
        <section class="preheader" style="    height: 48px;">
            <div class="container">
                <div class="row clearfix">

                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9 governo">
                        <a title="Sito della Regione Toscana" href="http://www.regione.toscana.it/" target="_blank">
                            <img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" style="height:32px;margin-bottom:5px">
                        </a>
                        <small  class="pull-right"><img src="images/user.png" alt=""><span th:text="${utente.username}" style="color:#e5eff9"><i class="fas fa-user"></i> Eduardo Accetta</span></small>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 accedi" style="padding:0px">
                        <form th:action="@{/logout}" method="post">
                            <button style="font-size: 16px;font-color: #fff;  height: 48px;  background-color: #06c; border:none" type="submit" value="Sign Out" > ◄ LOG OUT</button>
                        </form>

                    </div>
                </div>
            </div>
        </section>
        <!-- Fascia Governo & Servizi -->
        <!-- Button Menu -->
        <button data-target=".sidebar-offcanvas" data-toggle="offcanvas" class="navbar-toggle menu-btn pull-left">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!-- Logo e titolo -->
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 logo logo-wrapper">
                    <div class="logo-img"><a href="login" title="OSP - Regione Toscana"><img src="images/logo.svg" alt="gestione osservatorio scolastico" /></a></div>
                    <div class="logo-text">
                        <h1><a href="login" title="Osservatorio regionale educazione e istruzione">Sistema Informativo Anagrafe Regionale degli Studenti</a></h1>
                        <span>Osservatorio regionale educazione e istruzione</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo & Ricerca -->
        <section th:switch="${utente.ruolo}" class="fascia-rosso hidden-xs" id="sub_nav">
            <h3 class="sr-only">Submenu</h3>
            <ul th:case="ADMIN" class="sub_nav clearfix">
                <li><a href="pdf/Manuale_invio_archivio.pdf" title="Manuale" download>Manuale</a></li>
                <li ><a href="lista_account" title="Vai alla pagina: lista account">Lista Account</a></li>
                <li><a href="lista_file" title="Vai alla pagina: lista archivi">Lista Archivi</a></li>

            </ul>
            <ul th:case="*" class="sub_nav clearfix">
                <li><a href="pdf/Manuale_invio_archivio.pdf" title="Manuale" download>Manuale</a></li>
                <li><a href="carica_file" title="Vai alla pagina: invio archivio">Invio Archivio</a></li>
                <li><a href="lista_file" title="Vai alla pagina: lista archivi">Lista Archivi</a></li>
            </ul>
        </section>
    </header>


    <!-- Nav bar -->
    <nav id="navbar" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 nav sidebar-offcanvas">
        <img src="images/x-rosso.svg" id="chiudimenu" alt="chiudi il menu" />
        <div class="scrolling-nav-wrapper" th:switch="${utente.ruolo}">
            <ul th:case="ADMIN" class="nav nav-stacked" id="mainmenu">
                <li class="list-group-item"><a href="index">Homepage</a></li>
                <li class="list-group-item"><a href="carica_file" title="Vai alla pagina: carica file ">Invio Archivio</a></li>
                <li class="list-group-item"><a href="lista_file" title="Vai alla pagina: invio archivio">Lista Archivi</a></li>
                <li class="list-group-item"><a href="account" title="Vai alla pagina: account ">Account</a></li>
                <li class="list-group-item"><a href="lista_account" title="Vai alla pagina: lista archivi">Lista Account</a></li>
                <li class="list-group-item"><a href="pdf/Manuale_invio_archivio.pdf" title="scarica manuale" download="">Manuale</a></li>
                <li class="list-group-item">
                    <a class="accordian-toggle collapsed" href="#" data-toggle="collapse" data-parent="#navbar" data-target="#controlli">Controlli</a>
                    <ul class="sublinks collapse" id="controlli">
                        <li><a href="lista_istituzioni_non_accreditate" title="">Lista Istituzioni non accreditate</a></li>
                        <li><a href="lista_istituzioni_no_archivi" title="">Lista Archivi non inviati</a></li>
                    </ul>
                </li>
            </ul>
            <ul th:case="REGISTRATO" class="nav nav-stacked" id="mainmenu" >
                <li class="list-group-item"><a href="account" title="Vai alla pagina: account ">Account</a></li>
                <li class="list-group-item"><a href="pdf/Manuale_invio_archivio.pdf" title="scarica manuale" download="">Manuale</a></li>
            </ul>
            <ul th:case="*" class="nav nav-stacked" id="mainmenu">
                <li class="list-group-item"><a href="index">Homepage</a></li>
                <li class="list-group-item"><a href="carica_file" title="Vai alla pagina: carica file ">Invio Archivio</a></li>
                <li class="list-group-item"><a href="lista_file" title="Vai alla pagina: invio archivio">Lista Archivi</a></li>
                <li class="list-group-item"><a href="account" title="Vai alla pagina: account ">Account</a></li>
                <li class="list-group-item"><a href="pdf/Manuale_invio_archivio.pdf" title="scarica manuale" download="">Manuale</a></li>
            </ul>
        </div>
    </nav>

    <!-- AVVISI-->
           <!-- <div class="Prose Alert Alert--error Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert">
                <h2 class="u-text-h3">Si è verificato un errore
                </h2>
                <p class="u-text-p">Rerum nemo ipsa voluptate. Sed ut et repellendus et et et ut similique. Et dolorem corrupti dolore quis qui voluptatem.</p>
             </div> -->

             <div class="Prose Alert Alert--warning Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert" style="display: none">
                    <h2 class="u-text-h3">
                        Attenzione
                    </h2>
                    <p class="u-text-p">Stai eliminando l'invio di un archivio.</p>
             </div>

             <!--<div class="Prose Alert Alert--success Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert">
                    <h2 class="u-text-h3">
                        Operazione eseguita con successo
                    </h2>
                    <p class="u-text-p">Rerum nemo ipsa voluptate. Sed ut et repellendus et et et ut similique. Et dolorem corrupti dolore quis qui voluptatem.</p>
              </div>

              <div class="Prose Alert Alert--info Alert--withIcon u-layout-prose u-padding-r-bottom u-padding-r-right u-margin-r-bottom " role="alert">
                    <h2 class="u-text-h3">
                        Ulteriori informazioni
                    </h2>
                    <p class="u-text-p">Rerum nemo ipsa voluptate. Sed ut et repellendus et et et ut similique. Et dolorem corrupti dolore quis qui voluptatem.</p>
              </div>-->
    <!-- fine AVVISI -->
    <main style="border-top:5px solid #eee">


        <div class="container" id="primo-piano">
            <ul class="breadcrumb" aria-label="breadcrumb navigation">
                <li><a href="index">Home</a></li>
                <li><a href="#">lista archivi</a></li>
            </ul>

            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h3>Lista Archivi</h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="table-scrollable">
                        <table id="tab_lista_file" class="table table-striped table-bordered table-hover dataTable no-footer">
                            <!-- class="display nowrap" -->
                            <thead>
                                <tr th:switch="${utente.ruolo}">
                                    <th>ID</th>
                                    <th th:case="ADMIN" >Username</th>
                                    <th>Istituzione Scolastica</th>
                                    <th>A. S.</th>
                                    <th>Prelievo</th>
                                    <th>Prov.</th>
                                    <th>Comune</th>
                                    <th>File</th>
                                    <th>note aggiuntive</th>
                                    <th>data - ora</th>
                                    <th th:if="${utente.ruolo == 'ADMIN'}" >del.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="caricamento : ${caricamenti}" th:switch="${utente.ruolo}">
                                    <td th:text="${caricamento.id}"></td>
                                    <td th:case="ADMIN"> <a  th:text="${caricamento.utenteCaricante.username}" th:href="@{'account?account=' + ${caricamento.utenteCaricante.username}}"/></td>
                                    <td th:if="${utente.ruolo == 'ADMIN'}" th:text="${caricamento.istituzioneCaricata}" ></td>
                                    <td th:if="${utente.ruolo != 'ADMIN'}"  ><b th:text="${caricamento.istituzioneCaricata}"/></td>
                                    <td th:text="${caricamento.annoScolastico}">2016-17</td>
                                    <td th:text="${caricamento.tipoPrelievo}">INIZIO</td>
                                    <td th:text="${caricamento.provinciaCaricante}">PI</td>
                                    <td th:text="${caricamento.comuneCaricante}">Castelnuovo di Val di Cecina</td>
                                    <td>
                                      <span th:if="${caricamento.upload1 != null}">
                                          <button th:onclick="'window.location.href = \'caricamento/' + ${utente.username} + '/' + ${caricamento.id}+'/file1\''"  download type="button" class="btn btn-default btn-sm btn-round">
                                                <i class="fas fa-paperclip"></i>
                                            </button><span> allegato <b>1</b></span>
                                        </span>
                                        <span th:if="${caricamento.upload2 != null}">
                                            <button th:onclick="'window.location.href = \'caricamento/' + ${utente.username} + '/' + ${caricamento.id}+'/file2\''"  downloadtype="button" class="btn btn-default btn-sm btn-round">
                                                <i class="fas fa-paperclip"></i>
                                            </button><span> allegato <b>2</b></span>
                                        </span>
                                        <span th:if="${caricamento.upload3 != null}">
                                            <button th:onclick="'window.location.href = \'caricamento/' + ${utente.username} + '/' + ${caricamento.id}+'/file3\''"  downloadtype="button" class="btn btn-default btn-sm btn-round">
                                                <i class="fas fa-paperclip"></i>
                                            </button><span> allegato <b>3</b></span>
                                        </span>
                                        <span th:if="${caricamento.upload4 != null}">
                                            <button th:onclick="'window.location.href = \'caricamento/' + ${utente.username} + '/' + ${caricamento.id}+'/file4\''"  downloadtype="button" class="btn btn-default btn-sm btn-round">
                                                <i class="fas fa-paperclip"></i>
                                            </button><span> allegato <b>4</b></span>
                                        </span>
                                        <span th:if="${caricamento.upload5 != null}">
                                            <button th:onclick="'window.location.href = \'caricamento/' + ${utente.username} + '/' + ${caricamento.id}+'/file5\''"  downloadtype="button" class="btn btn-default btn-sm btn-round">
                                                <i class="fas fa-paperclip"></i>
                                            </button><span> allegato <b>5</b></span>
                                        </span>
                                        <span th:if="${caricamento.upload6 != null}">
                                            <button th:onclick="'window.location.href = \'caricamento/' + ${utente.username} + '/' + ${caricamento.id}+'/file6\''"  downloadtype="button" class="btn btn-default btn-sm btn-round">
                                                <i class="fas fa-paperclip"></i>
                                            </button><span> allegato <b>6</b></span>
                                        </span>
                                        <span th:if="${caricamento.upload7 != null}">
                                            <button th:onclick="'window.location.href = \'caricamento/' + ${utente.username} + '/' + ${caricamento.id}+'/file7\''"  download type="button" class="btn btn-default btn-sm btn-round">
                                                <i class="fas fa-paperclip"></i>
                                            </button><span> allegato <b>7</b></span>
                                        </span>
                                        <span th:if="${caricamento.upload8 != null}">
                                            <button th:onclick="'window.location.href = \'caricamento/' + ${utente.username} + '/' + ${caricamento.id}+'/file8\''"  download type="button" class="btn btn-default btn-sm btn-round">
                                                <i class="fas fa-paperclip"></i>
                                            </button><span> allegato <b>8</b></span>
                                        </span>

                                    </td>

                                    <td th:text="${caricamento.note}">In allegato si trasmette il file relativo all'importazione dati anagrafici degli allievi iscritti nei percorsi di IeFP a.s. 2017/2018. Distinti saluti.</td>
                                    <td th:text="${#dates.format(caricamento.dataCaricamento, 'dd/MM/yyyy HH:mm')}" >28/05/18 10:03:15</td>
                                    <td th:if="${utente.ruolo == 'ADMIN'}" >
                                        <button onclick="deleteUpload(this)"  type="button" th:href="@{'caricamento/elimina/'+ ${caricamento.id}}" class="btn btn-primary btn-sm btn-round"><i class="fas fa-trash-alt"></i> </button>
                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <br />
    </main>


    <section class="fascia-rosso"></section>

    <!-- Footer inizio -->
    <footer>
        <div class="container">

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-img">
                        <!--<img src="images/Reg_Toscana_bia.png" alt="Regione Toscana" /> <br class="visible-xs" />-->
                        <img src="images/logo.svg" alt="Gestione Osservatorio Scolastico">
                        &nbsp;&nbsp;
                        <br class="visible-xs">
                        <span>Osservatorio Regionale <br class="visible-xs"> Educazione e Istruzione</span>
                        <hr>
                        <a href="http://www.regione.toscana.it/-/anagrafe-regionale-degli-studenti" target="_blank" title="Sito della Regione Toscana - Anagrafe regionale studenti" style="color:#fff;font-weight: normal">
                            <span><small>DIREZIONE GENERALE DELLA GIUNTA REGIONALE<br>
                                 <small>- DIREZIONE ISTRUZIONE E FORMAZIONE<br>
                                    <small>- SETTORE EDUCAZIONE E ISTRUZIONE</small>
                                 </small>
                                </small>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <section class="contatti">
                <div class="row clearfix">

                    <div class="col-lg-10 col-md-9 col-sm-9">
                        <br class="visible-xs" />
                        <h4>Assistenza Tecnica <small><br class="visible-xs" />&nbsp;&nbsp;&nbsp;&nbsp; ARS &nbsp;-&nbsp; Anagrafe Regionale Studenti</small></h4>

                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Arezzo - Massa Carrara</h5>
                                                David Priore<br />
                                                tel. +39 334 8589472
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Siena - Grosseto</h5>
                                                Giulio Petrangeli<br />
                                                tel. +39 0577 241819
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Firenze - Prato</h5>
                                                Yari Conti<br />
                                                tel. +39 050 3180024
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Lucca - Pistoia</h5>
                                                Alessandra Tofanelli<br />
                                                tel. +39 050 3180025
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 addressBox">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <small>Istituzioni Scolastiche di</small>
                                                <h5>Pisa - Livorno</h5>
                                                Simone Mancini<br />
                                                tel. +39 050 3180023
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                    <br class="visible-xs" />
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                        <h4>Email</h4>

                        <div class="row clearfix">
                            <div class="addressBox ">
                                <div>
                                    <ul class="footer-list clearfix">
                                        <li class="">
                                            <div class="address">
                                                <h5>per informazioni:</h5>
                                                dati-studenti@regione.toscana.it<br />
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <section class="postFooter clearfix">
                <ul class="list-inline">
                    <li>Sito sviluppato da &nbsp;<a href="https://www.soluxioni.it/" target="_blank"  title="sito sviluppato da soluxioni srl">Soluxioni srl</a></li>
                    <!--<li>&nbsp; | &nbsp;&nbsp;<a href="note_legali.html" title="Note legali">Note legali</a></li>-->
                    <li>&nbsp; | &nbsp;&nbsp;<a href="privacy" target="_blank" title="Privacy Policy">Privacy Policy</a></li>
                </ul>
            </section>
        </div>
    </footer>


    <div class="menu-underlayer" id="overlayer"></div>
    <div id="topcontrol" class="topcontrol" title="Torna su">
        <img class="tornasuimg" alt="Torna su" src="images/torna_su.svg">
    </div>

    <script>
        function deleteUpload(upload){
          if (confirm('Sei sicuro di voler eliminare questo caricamneto?')) {
            var urlDelete = upload.getAttribute("href");
            $.ajax({
              url :  `https://www.osservatorioscolastico.regione.toscana.it/${urlDelete}` ,
              type : 'GET',
              async:false,
              dataType: 'json',
              success : function(resp) {
              }
            });
            alert("Caricamneto eliminato con successo");
            window.location.reload();
          } else {
            // Do nothing!
          }
        }
    </script>
</body>
	</html>