











































































































































































































































































































































































































































































































































#mainheader .preheader .accedi {
    position: absolute;
    right: 0;
    height: 100%;
    height: 48px;
    color: #fff;
    text-align: center;
    background-color: #06c;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}












































































































































































































































































































































































































































































































.menu-btn {
    display: block!important;
    float: left;
    width: 32px;
    height: 32px;
    padding: 0 0 12px;
    margin: 59px 40px 59px 24px;
    background-color: transparent;
    background-image: url(../images/menu.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: 32px 7px;
    background-size: 32px 7px;
    border: 0 none;
}




















.sidebar-offcanvas #chiudimenu {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}






















.sidebar-offcanvas.active {
    left: 0;
}




























































.sidebar-offcanvas .scrolling-nav-wrapper {
    height: 100%;
    margin-top: 48px;
    overflow-y: scroll;
    border: 0 solid #ccc;
}

