







.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.sidebar-offcanvas .scrolling-nav-wrapper {
    height: 100%;
    margin-top: 48px;
    overflow-y: scroll;
    border: 0 solid #ccc;
}





.nav>li {
    position: relative;
    display: block;}
.nav>li>a {
    position: relative;
    display: block;
    padding: 16px 24px;
}























































































































.nav-stacked>li {
    float: none;
}